#block-hc-subscribe-hc-subscribe {
  width: 90%;
  margin: 0 auto;
}

#block-hc-subscribe-hc-subscribe .label {
  float: left;
  margin-right: 50px;
  height: 35px;
  line-height: 1.2;
  font-size: 1em;
  padding-top: 3px;
}

#block-hc-subscribe-hc-subscribe .label strong {
  color: white;
  font-family: "DaxlineWeb-Medium";
}

#block-hc-subscribe-hc-subscribe .form-item {
  float: left;
  margin: 0;
  margin-right: 20px;
}

#block-hc-subscribe-hc-subscribe .form-text {
	width: 180px;
	height: 30px;
}

#block-hc-subscribe-hc-subscribe .form-submit {
  border: none;
  height: 35px;
  line-height: 35px;
  background: url(../img/bg-subscribe.jpg) no-repeat right center;
  padding-right: 30px;
  color: white;
  text-shadow: none;
  cursor: pointer;
  font-size: 1.385em;
}