/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/************************************************************************************************************************************
 *
 *
 * A. SITE-WIDE ELEMENTS
 *
 *
 ************************************************************************************************************************************/

/****************************************************************
 * A.1. LAYOUT
 ***************************************************************/
.zone.container-12 {
  width: 1000px !important;
  margin: 0 auto;
}

.zone.container-12 .region.grid-12 {
  padding: 0 30px;
  margin-left: 0;
  margin-right: 0;
}

/****************************************************************
 * A.2. GENERAL HTML ELEMENTS
 ***************************************************************/
body {
  font-family: DaxlineWeb;
}

a:link, a:visited {
  text-decoration: none;
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

a:hover {
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

/** Logo: Site Name **/
.branding-data {
  position: absolute;
  top: 15px;
}

h1.site-name a,
h2.site-name a {
  letter-spacing: -2px;
  font-family: "DaxlineWeb-Medium";
  color: #eb2c23;
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DaxlineWeb";
  font-weight: 100;  
}

/****************************************************************
 * A.3. SECTIONS
 ***************************************************************/

/** Footer **/
#section-footer {
  color: #bababa;
}

#section-footer a {
  color: #bababa;
}

#section-footer a:hover {
  color: white;
}


/****************************************************************
 * A.4. ZONES & WRAPPERS
 ***************************************************************/

/** Branding **/
#zone-branding-wrapper {
  height: 100px;
}

/** Footer **/
#zone-footer-wrapper {
  background: #3f3f3f;
}

#zone-footer-second-wrapper {
  background: #383838;
}

#zone-footer-third-wrapper {
  background: #080808;
}

/****************************************************************
 * A.5. REGIONS
 ***************************************************************/


/** Footer Regions **/
#region-footer-first {
  margin: 0;
  padding-top: 50px;
  background: #3f3f3f;
}

#region-footer-second {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 60px;
  background: #383838;
}

#region-footer-third {
  margin: 0;
  background: #080808;
  padding-top: 35px;
  padding-bottom: 35px;
}

/************************************************************************************************************************************
 *
 *
 * B. VIEWS BLOCKS
 *
 *
 ************************************************************************************************************************************/

/****************************************************************
 * B.1. FOOTER NEWS
 ***************************************************************/
#block-views-news-block h2.block-title {
  font-size: 1em;
  margin-bottom: 30px;
}

.view-news ul.news-items {
  margin: 0;
}

.view-news ul.news-items li.news-item {
  margin: 0;
  width: 30%;
  float: left;
  margin-right: 5%;
}

.view-news ul.news-items li.news-item.views-row-last {
  margin-right: 0;
}

.view-news ul.news-items li.news-item .news-body {
  color: #939393;
}

.view-news ul.news-items li.news-item .news-body,
.view-news ul.news-items li.news-item .news-link {
  display: inline;
}

.view-news .view-footer {
  margin-top: 20px;
}


/************************************************************************************************************************************
 *
 *
 * C. GENERAL BLOCKS
 *
 *
 ************************************************************************************************************************************/

/****************************************************************
 * C.1. CONTACT BLOCK (FOOTER)
 ***************************************************************/
.block-contact h2.block-title {
  font-family: "DaxlineWeb-Medium";
  font-size: 1.923em;
  margin-bottom: 35px;
}

/****************************************************************
 * C.2. CATALOG BLOCK (FOOTER)
 ***************************************************************/
.block-catalog h2.block-title {
  margin-bottom: 45px;
}

.block-catalog ul.catalog-items {
  margin: 0;
  padding: 0;
}

.block-catalog ul.catalog-items li.catalog-item {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  list-style: none;
}

.block-catalog ul.catalog-items li.catalog-item a {
  color: #939393;
}

.block-catalog ul.catalog-items li.catalog-item a:hover {
  color: white;
}

/****************************************************************
 * C.3. FOOTER MENU
 ***************************************************************/
.block-footer-menu h2.block-title {
  margin-bottom: 45px;
}

.block-footer-menu ul.menu {
  margin: 0;
  padding: 0;
}

.block-footer-menu ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}

.block-footer-menu ul.menu li a {
  color: #939393;
}

/****************************************************************
 * C.4. MAIN MENU
 ***************************************************************/
#block-system-main-menu {
  float: right;
  margin-top: 50px;
}

#block-system-main-menu ul {
  margin: 0;
  padding: 0;
}

#block-system-main-menu ul li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

#block-system-main-menu ul li a {
  font-size: 1.308em;
  color: #949494;
}

#block-system-main-menu ul li a:hover,
#block-system-main-menu ul li a.active {
  color: #3f3f3f;
}

#block-system-main-menu ul li a#menu-shopping-cart {
  background: url(../img/icons/menu-shopping-cart.jpg) no-repeat center center;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -999em;
}

/****************************************************************
 * C.5. HEADER VISUAL
 ***************************************************************/
#zone-header-visual .region.grid-12 {
  margin: 0;
  padding: 0;
  width: 1000px;
}

.block-header-catalog {}
.block-header-catalog ul {
  margin: 0;
  padding: 0;
}

.block-header-catalog ul li {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
}

.block-header-catalog ul li .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 45%;
  padding: 35px 30px;
}

.block-header-catalog ul li .text .title {
  font-size: 3.231em;
}

.block-header-catalog ul li .text .description {
  font-size: 1.538em;
}

/****************************************************************
 * C.6. REGION SWITCHER
 ***************************************************************/
#block-hc-regions-region-selection {
  position: absolute;
  right: 0;
  top: 0;
}

/************************************************************************************************************************************
 *
 *
 * D. PAGES
 *
 *
 ************************************************************************************************************************************/

/****************************************************************
 * D.1. CATALOG PAGE
 ***************************************************************/
.page-catalog h2.site-name a {
  color: #00b2d9;
}

/** Header on catalog page **/
.page-catalog .block-header-catalog ul li .text {
  background: #00b2d9;
}

.page-catalog .block-header-catalog ul li .text .title,
.page-catalog .block-header-catalog ul li .text .description {
  color: white;
} 

/** Main catalog view **/
.page-catalog #block-system-main ul.catalog-items {
  margin: 0;
  padding: 0;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item {
  margin: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item.last {
  margin-right: 0;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color {
  padding: 25px;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .name,
.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .description,
.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .link,
.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .link a {
  color: white;
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .link a:hover,
.page-catalog #block-system-main ul.catalog-items li.catalog-item.hover .color .name,
.page-catalog #block-system-main ul.catalog-items li.catalog-item.hover .color .description {
  color: #3f3f3f;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item.hover .color .name,
.page-catalog #block-system-main ul.catalog-items li.catalog-item.hover .color .description {
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .name {
  font-family: "DaxlineWeb-Bold";
  font-size: 2em;
  margin-bottom: 15px;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .description {
  font-size: 1.384em;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .link {
  font-size: 1.384em;
}

/****************************************************************
 * D.2. CATALOG SUBJECT PAGE
 ***************************************************************/

/** Catalog Subject Header **/
.catalog-subject-header {
  position: relative;
  margin-bottom: 40px;
} 

.catalog-subject-header .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 45%;
  padding: 35px 30px;
  background: #eb2c23;
}

.catalog-subject-header .text .title,
.catalog-subject-header .text .description,
.catalog-subject-header .text .description a {
  color: white;
}

.catalog-subject-header .text .title {
  font-size: 3.231em;
}

.catalog-subject-header .text .description {
  font-size: 1.538em;
}


/** Catalog Subject Navigation **/
.catalog-subject-navigation {
  margin-bottom: 60px;
}


/** Catalog Subject Content **/
.field-collection-container {
  margin: 0;
  border: none;
}

.field-collection-view {
  margin: 0;
  padding: 0;
  border: none;
}

.field-name-field-block .field-collection-item-field-block.highlighted {
  background: #eb2c23;
  margin-left: -30px;
  margin-right: -30px;
  padding: 20px 30px;
  
}

.field-name-field-block .field-collection-item-field-block.highlighted .field-name-field-block-title,
.field-name-field-block .field-collection-item-field-block.highlighted .field-name-field-block-text {
  color: white;
}

.field-collection-item-field-block .field-name-field-block-title {
  font-size: 2.923em;
  color: #eb2c23;
  font-weight: 100;
}

.field-collection-item-field-block .field-name-field-block-text,
.field-collection-item-field-block .field-name-field-block-footer-text { 
  font-size: 1.231em;
  color: #838383;
  width: 75%;
  margin: 30px 0;
}

.field-collection-item-field-block .field-name-field-block-footer-text {
  border-top: 1px solid #ededed;
  padding-top: 60px;
}

.field-collection-item-field-block .field-name-field-block-subblock .field-item {
  width: 40%;
  margin-right: 25px;
  float: left;
}

.field-collection-item-field-block .field-name-field-block-subblock .field-item.odd {
  margin-right: 0;
}

.field-collection-item-field-block .field-name-field-block-subblock .field-item .field-collection-item-field-block-subblock .field-item {
  float: none;
  width: auto;
}

.field-collection-item-field-block .field-name-field-block-subblock .field-name-field-subblock-title {
  font-size: 1.692em;
  color: #646464;
}

.field-collection-item-field-block .field-name-field-block-subblock .field-name-field-subblock-text {
  font-size: 1.231em;
  color: #838383;
  margin-bottom: 30px;
}

.field-collection-item-field-block .field-item.highlighted {
  background: #eb2c23;
  color: white;
}

/*

.field-collection-item-field-catalog-what .field-collection-container {
  border-bottom: 1px solid #ededed;
  padding-bottom: 30px;
  margin-bottom: 60px;
}


.field-name-field-cat-what-block-title {
  font-size: 1.692em;

}

.field-name-field-cat-what-block-text {
  font-size: 1.231em;
  color: #838383;
  margin-bottom: 30px;
}

.field-name-field-cat-what-footer-text {
  width: 75%;
  color: #838383;
  font-size: 1.231em;
}

.field-name-field-catalog-where {
  padding: 30px;
  background: #eb2c23;
  color: white;
  font-size: 1.231em;
  margin-bottom: 80px;
}

.field-name-field-catalog-where .field-label {
  color: white;
  font-size: 2.5em;
  font-weight: 100;
}

.field-name-field-catalog-where .field-items {
  width: 75%;
}

.field-name-field-catalog-who {
  color: #838383;
  width: 75%;
  font-size: 1.231em;
  padding: 0 30px;
}

.field-name-field-catalog-who .field-label {
  color: #eb2c23;
  font-size: 2.5em;
  font-weight: 100;  
}
*/

/****************************************************************
 * D.3. COURSE DETAIL PAGE
 ***************************************************************/

/** Header **/
#block-hc-blocks-course-header {
  position: relative;
  margin-bottom: 50px;
}

.block-header-course .text-top {
  background: #eb2c23;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  padding: 0 30px;
  height: 100%;
}

.block-header-course .text-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  background: #cd1c1c;
  padding: 30px;
}

.block-header-course .title,
.block-header-course .description {
  color: white;
}

.block-header-course .text-top .title {
  font-size: 3.231em;
  margin-top: 45px;
  margin-bottom: 10px;
}

.block-header-course .text-top .description {
  font-size: 1.692em;
}

.block-header-course .text-bottom .title {
  font-size: 1.358em;
  margin-bottom: 10px;
}

.block-header-course .text-bottom .description {
  font-size: 1.358em;
}

.block-header-course .text-bottom .description ul {
  margin-left: 20px;
}

/** Main Content **/
.field-name-field-course-content-title {
  color: #eb2c23;
  font-family: "DaxlineWeb-Medium";
  font-size: 2.5em;
}

.field-name-field-course-content-intro-text {
  font-size: 1.385em;
  color: #838383;
  width: 70%;
}

.field-name-field-course-content-blocks .field-collection-view {
  border: none;
}

.field-name-field-course-content-blocks .field-item {
  width: 45%;
  margin-right: 5%;
  float: left;
}

.field-name-field-course-content-blocks .field-item .field-collection-item-field-course-content-blocks .field-item {
  width: 100%;
  float: none;
}

.field-name-field-course-content-block-title {
  font-size: 1.692em;
  color: #646464;
}

.field-name-field-course-content-block-text {
  font-size: 1.231em;
  color: #838383;
  margin-bottom: 50px;
}

.field-collection-item-field-course-content .field-collection-container {
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
}

/** Testimonials **/
.block-course-testimonials {
  margin-bottom: 20px;
}

.block-course-testimonials h2.block-title {
  font-size: 3.231em;
  color: #eb2c23;
  margin-bottom: 20px;
}

.block-course-testimonials ul.testimonials {
  margin: 0;
  padding: 0;
}

.block-course-testimonials ul.testimonials li.testimonial {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 30%;
  float: left;
  margin-right: 5%;
  position: relative;
}

.block-course-testimonials ul.testimonials li.testimonial.last {
  margin-right: 0;
}

.block-course-testimonials ul.testimonials li.testimonial .body {
  background: #eb2c23;
  padding: 10px 20px;
  color: white;
}

.block-course-testimonials ul.testimonials li.testimonial .name {
  margin-left: 20px;
  margin-top: 10px;
  font-family: "DaxlineWeb-Bold";
  font-size: 1.231em;
}

.block-course-testimonials ul.testimonials li.testimonial .function {
  margin-left: 20px;
  font-size: 1.231em;
}