/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/************************************************************************************************************************************
 *
 *
 * A. SITE-WIDE ELEMENTS
 *
 *
 ************************************************************************************************************************************/

/****************************************************************
 * A.1. LAYOUT
 ***************************************************************/
.zone.container-12 {
  width: 1000px !important;
  margin: 0 auto;
}

.zone.container-12 .region.grid-12 {
  padding: 0 30px;
  margin-left: 0;
  margin-right: 0;
}

.container-12 {
  width: 1000px !important;
}

.container-12 .grid-12 {
  padding: 0 30px;
  margin-left: 0;
  margin-right: 0;
}

/****************************************************************
 * A.2. GENERAL HTML ELEMENTS
 ***************************************************************/
body {
  font-family: DaxlineWeb;
}

a:link, a:visited {
  text-decoration: none;
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

a:hover {
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

/** Logo: Site Name **/
.branding-data {
  position: absolute;
}

h1.site-name,
h2.site-name {
  margin: 0;
  margin-top: 48px;
}

h1.site-name a,
h2.site-name a {
  letter-spacing: -4px;
  font-family: "DaxlineWeb-Medium";
  color: #eb2c23;
  font-size: 2.154em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DaxlineWeb";
  font-weight: 100;  
}

.item-list .title {
  font-weight: normal;
}

/****************************************************************
 * A.3. SECTIONS
 ***************************************************************/

/** Footer **/
#section-footer {
  color: #bababa;
}

#section-footer a {
  color: #bababa;
}

#section-footer a:hover {
  color: white;
}


/****************************************************************
 * A.4. ZONES & WRAPPERS
 ***************************************************************/

/** Branding **/
#zone-branding-wrapper {
  height: 124px;
}

/** Footer **/
#zone-footer-wrapper {
  background: #3f3f3f;
}

#zone-footer-second-wrapper {
  background: #383838;
}

#zone-footer-third-wrapper {
  background: #080808;
}

/****************************************************************
 * A.5. REGIONS
 ***************************************************************/


/** Footer Regions **/
#region-footer-first {
  margin: 0;
  padding-top: 32px;
  background: #3f3f3f;
}

#region-footer-second {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #383838;
}

#region-footer-third {
  margin: 0;
  background: #080808;
  padding-top: 30px;
  padding-bottom: 30px;
}

/************************************************************************************************************************************
 *
 *
 * B. VIEWS BLOCKS
 *
 *
 ************************************************************************************************************************************/

/****************************************************************
 * B.1. FOOTER NEWS
 ***************************************************************/
#block-views-news-block h2.block-title {
  font-size: 1.538em;
  margin-bottom: 30px;
}

.view-news .footer ul.news-items {
  margin: 0;
  margin-bottom: 32px;
}

.view-news .footer ul.news-items li.news-item {
  margin: 0;
  width: 290px;
  float: left;
  margin-right: 32px;
}

.view-news .footer ul.news-items li.news-item.views-row-last {
  margin-right: 0;
}

.view-news .footer ul.news-items li.news-item .news-body {
  color: #939393;
}

.view-news .footer ul.news-items li.news-item .news-body,
.view-news .footer ul.news-items li.news-item .news-link {
  display: inline;
}

.view-news .view-footer {
  margin-top: 20px;
}

/****************************************************************
 * B.2. TESTIMONIALS
 ***************************************************************/
ul.testimonials {
  margin: 0;
  padding: 0;
}

ul.testimonials li.testimonial {
  list-style: none;
  width: 290px;
  margin-right: 30px;
  float: left;
  position: relative;
}

ul.testimonials li.testimonial.last {
  margin-right: 0;
}

ul.testimonials li.testimonial .body {
  background: url(../img/triangles/triangle_red1.png) no-repeat 100px bottom;
  padding: 32px 0;
  padding-top: 0;
  font-size: 1.077em;
}

ul.testimonials li.testimonial .body p {
  margin-bottom: 0;
}

ul.testimonials li.testimonial.item1 .body,
ul.testimonials li.testimonial.item4 .body,
ul.testimonials li.testimonial.item7 .body,
ul.testimonials li.testimonial.item10 .body,
ul.testimonials li.testimonial.item13 .body,
ul.testimonials li.testimonial.item16 .body,
ul.testimonials li.testimonial.item19 .body,
ul.testimonials li.testimonial.item22 .body,
ul.testimonials li.testimonial.item25 .body,
ul.testimonials li.testimonial.item28 .body {
  background-image: url(../img/triangles/triangle_red2.png);
}

ul.testimonials li.testimonial.item2 .body,
ul.testimonials li.testimonial.item5 .body,
ul.testimonials li.testimonial.item8 .body,
ul.testimonials li.testimonial.item11 .body,
ul.testimonials li.testimonial.item14 .body,
ul.testimonials li.testimonial.item17 .body,
ul.testimonials li.testimonial.item20 .body,
ul.testimonials li.testimonial.item23 .body,
ul.testimonials li.testimonial.item26 .body,
ul.testimonials li.testimonial.item29 .body {
  background-image: url(../img/triangles/triangle_red3.png);
}

ul.testimonials li.testimonial .body .inner {
  background: #cd1c1c;
  padding: 16px 32px;
  color: white;
}

ul.testimonials li.testimonial.item1 .body .inner,
ul.testimonials li.testimonial.item4 .body .inner,
ul.testimonials li.testimonial.item7 .body .inner,
ul.testimonials li.testimonial.item10 .body .inner,
ul.testimonials li.testimonial.item13 .body .inner,
ul.testimonials li.testimonial.item16 .body .inner,
ul.testimonials li.testimonial.item19 .body .inner,
ul.testimonials li.testimonial.item22 .body .inner,
ul.testimonials li.testimonial.item25 .body .inner,
ul.testimonials li.testimonial.item28 .body .inner {
  background: #ef2a09;
}

ul.testimonials li.testimonial.item2 .body .inner,
ul.testimonials li.testimonial.item5 .body .inner,
ul.testimonials li.testimonial.item8 .body .inner,
ul.testimonials li.testimonial.item11 .body .inner,
ul.testimonials li.testimonial.item14 .body .inner,
ul.testimonials li.testimonial.item17 .body .inner,
ul.testimonials li.testimonial.item20 .body .inner,
ul.testimonials li.testimonial.item23 .body .inner,
ul.testimonials li.testimonial.item26 .body .inner,
ul.testimonials li.testimonial.item29 .body .inner {
  background: #a30000;
}

ul.testimonials li.testimonial .name {
  margin-left: 55px;
  margin-top: 6px;
  font-family: "DaxlineWeb-Bold";
  font-size: 1.154em;
}

ul.testimonials li.testimonial .function {
  margin-left: 55px;
  font-size: 1em;
}



/************************************************************************************************************************************
 *
 *
 * C. GENERAL BLOCKS
 *
 *
 ************************************************************************************************************************************/

/****************************************************************
 * C.1. CONTACT BLOCK (FOOTER)
 ***************************************************************/
.block-contact h2.block-title {
  letter-spacing: -4px;
  font-family: "DaxlineWeb-Medium";
  font-size: 58px;
  line-height: 1;
  margin-bottom: 16px;
}

.block-contact .content {
  padding-right: 64px;
}

/****************************************************************
 * C.2. CATALOG BLOCK (FOOTER)
 ***************************************************************/
.block-catalog h2.block-title {
  margin-bottom: 32px;
  font-family: "DaxlineWeb-Medium";
}

.block-catalog ul.catalog-items {
  margin: 0;
  padding: 0;
}

.block-catalog ul.catalog-items li.catalog-item {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  list-style: none;
}

.block-catalog ul.catalog-items li.catalog-item a {
  color: #939393;
}

.block-catalog ul.catalog-items li.catalog-item a:hover {
  color: white;
}

/****************************************************************
 * C.3. FOOTER MENU
 ***************************************************************/
.block-footer-menu h2.block-title {
  margin-bottom: 32px;
  font-family: "DaxlineWeb-Medium";
}

.block-footer-menu ul.menu {
  margin: 0;
  padding: 0;
}

.block-footer-menu ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}

.block-footer-menu ul.menu li a {
  color: #939393;
}

/****************************************************************
 * C.4. MAIN MENU
 ***************************************************************/
#block-system-main-menu {
  float: right;
  margin-top: 69px;
}

#block-system-main-menu ul {
  margin: 0;
  padding: 0;
}

#block-system-main-menu ul li {
  list-style: none;
  float: left;
  margin: 0;
  margin-right: 32px;
  padding: 0;
}

#block-system-main-menu ul li.last {
  margin-right: 0;
  padding-right: 0;
}

#block-system-main-menu ul li a {
  font-family: "DaxlineWeb-Bold";
  font-size: 1.308em;
  color: #949494;
}

#block-system-main-menu ul li a:hover,
#block-system-main-menu ul li a.active {
  color: #3f3f3f;
}

#block-system-main-menu ul li a#menu-shopping-cart {
/*
  background: url(../img/icons/menu-shopping-cart.jpg) no-repeat center center;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -999em;
*/
}

/****************************************************************
 * C.5. HEADER VISUAL
 ***************************************************************/
#zone-header-visual .region.grid-12 {
  margin: 0;
  padding: 0;
  width: 1000px;
}

.block-header-view {}
.block-header-view ul {
  margin: 0;
  padding: 0;
}

.block-header-view ul li {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  position: relative;
}

.block-header-view ul li .visual {
  height: 500px;
}

.block-header-view ul li .visual img {
  height: 500px;
}

.block-header-view ul li .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
}

.block-header-view ul li .text .title {
  font-size: 3.231em;
  line-height: 1;
  margin-top: 32px;
  margin-left: 32px;
}

.block-header-view ul li .text .description {
  font-size: 1.462em;
  margin: 32px;
}

/****************************************************************
 * C.6. REGION SWITCHER
 ***************************************************************/
#block-hc-regions-region-selection {
  position: absolute;
  right: 0;
  top: 0;
}


/************************************************************************************************************************************
 *
 *
 * D. HOMEPAGE BLOCKS
 *
 *
 ************************************************************************************************************************************/

/****************************************************************
 * D.1. CARROUSEL BLOCK
 ***************************************************************/
.carrousel-home {
  width: 1000px;
  margin-left: -30px;
  height: 500px;
  overflow: hidden;
  background: #ef2a09 url(../img/temp/placeholder-carrousel.jpg);
  color: white;
  margin-bottom: 60px;
}

.carrousel-home a {
  color: white;
  font-size: 1.539em;
  font-family: "DaxlineWeb-Bold";
}

.carrousel-home a:hover {
  color: #383838;
}

.carrousel-home .block-inner {
  margin: 0 30px;
}

.carrousel-home h3 {
  padding-top: 200px;
  font-size: 3.539em;
  line-height: 1;
}


/****************************************************************
 * D.2. VIDEO BLOCK
 ***************************************************************/
.video-homepage {
  width: 1000px;
  margin-left: -30px;
  height: 625px;
  background: #00b2d9;
  color: white;
  margin-bottom: 60px;
}

.video-homepage .block-inner {
  margin: 0 30px;
  padding-top: 55px;
}

.video-homepage h2.block-title {
  font-size: 3.231em;
  font-family: "DaxlineWeb-Medium";
}

.video-homepage p {
  font-size: 1.539em;
}

.video-homepage .video-placeholder {
  width: 940px;
  height: 340px;
  background: url(../img/temp/placeholder-video.jpg) no-repeat left top;
}


/****************************************************************
 * D.3. THREE COLUMNS HOMEPAGE BLOCK
 ***************************************************************/
.block-three-columns-home {
  color: #898989;
}

.block-three-columns-home h2.block-title {
	font-size: 3.231em;  
	font-family: "DaxlineWeb-Medium";
	color: #616161;
}

.block-three-columns-home h2 {
  color: #626262;
  font-family: "DaxlineWeb-Medium";
  margin-bottom: 5px;
}

/****************************************************************
 * D.4. CALL TO ACTION HOMEPAGE BLOCK
 ***************************************************************/
.call-to-action-homepage {
  width: 1000px;
  margin-left: -30px;
  height: 120px;
  background: #5adb82;
}

.call-to-action-homepage .block-inner {
  margin: 0 30px;
  line-height: 118px;
}

.call-to-action-homepage .block-inner a {
  color: white; 
  font-size: 1.539em;
  font-family: "DaxlineWeb-Bold";
}

.call-to-action-homepage .block-inner a:hover {
  color: #383838;
}

/************************************************************************************************************************************
 *
 *
 * E. PAGES
 *
 *
 ************************************************************************************************************************************/

/****************************************************************
 * E.1. CATALOG PAGE
 ***************************************************************/
.page-catalog h2.site-name a {
  color: #00b2d9;
}

/** Header on catalog page **/
.page-catalog .block-header-catalog ul li .text {
  background: #00b2d9;
}

.page-catalog .block-header-catalog ul li .text .title,
.page-catalog .block-header-catalog ul li .text .description {
  color: white;
} 

/** Main catalog view **/
.page-catalog #block-system-main ul.catalog-items {
  margin: 0;
  padding: 0;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item {
  margin: 0;
  margin-bottom: 16px;
  margin-right: 17px;
  padding: 0;
  width: 301px;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item.last {
  margin-right: 0;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color {
  padding: 0 32px;
  height: 228px;
  position: relative;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .name,
.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .description,
.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .link,
.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .link a {
  color: white;
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item.hover .color .name,
.page-catalog #block-system-main ul.catalog-items li.catalog-item.hover .color .description,
.page-catalog #block-system-main ul.catalog-items li.catalog-item.hover .link {
  color: #3f3f3f;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item.hover .color .name,
.page-catalog #block-system-main ul.catalog-items li.catalog-item.hover .color .description {
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .name {
  font-family: "DaxlineWeb-Bold";
  font-size: 2.462em;
  margin-bottom: 32px;
  padding-top: 16px;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .description {
  font-size: 1.384em;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color .link {
  font-size: 1.384em;
  position: absolute;
  bottom: 32px;
  right: 32px;
}

/****************************************************************
 * E.2. CATALOG SUBJECT PAGE
 ***************************************************************/

/** Catalog Subject Header **/
.catalog-subject-header {
  position: relative;
  margin-bottom: 32px;
} 

.catalog-subject-header .image {
  height: 500px;
}

.catalog-subject-header .image img {
  height: 500px;
  width: 1000px;
}

.catalog-subject-header .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  background: #eb2c23;
}

.catalog-subject-header .text .title,
.catalog-subject-header .text .description,
.catalog-subject-header .text .description a {
  color: white;
}

.catalog-subject-header .text .title {
  font-size: 3.231em;
  line-height: 1;
  margin-top: 32px;
  margin-left: 32px;
}

.catalog-subject-header .text .description {
  font-size: 1.538em;
  margin: 32px;
}


/** Catalog Subject Navigation **/
.catalog-subject-navigation {
  margin-bottom: 60px;
}


/** Catalog Subject Content Blocks **/
.field-collection-container {
  margin: 0;
  border: none;
}

.field-collection-view {
  margin: 0;
  padding: 0;
  border: none;
}

.field-name-field-block .field-collection-item-field-block.highlighted {
  background: #eb2c23;
  margin-left: -32px;
  margin-right: -32px;
  padding: 32px;
}

.field-name-field-block .field-collection-item-field-block.highlighted .field-name-field-block-title,
.field-name-field-block .field-collection-item-field-block.highlighted .field-name-field-block-text {
  color: white;
  margin: 0;
}

.field-name-field-block .field-collection-item-field-block.highlighted .field-name-field-block-title {
  line-height: 1;
}

.field-name-field-block .field-collection-item-field-block.highlighted .field-name-field-block-text {
  margin-top: 32px;
}

.field-collection-item-field-block .field-name-field-block-title {
  font-size: 2.615em;
  line-height: 1.2;
  color: #eb2c23;
  font-family: "DaxlineWeb-Medium";
}

.field-collection-item-field-block .field-name-field-block-text,
.field-collection-item-field-block .field-name-field-block-footer-text { 
  font-size: 1.231em;
  color: #838383;
  width: 75%;
  margin: 30px 0;
}

.field-collection-item-field-block .field-name-field-block-footer-text {
  border-top: 1px solid #ededed;
  padding-top: 60px;
}

.field-collection-item-field-block .field-name-field-block-subblock .field-item {
  width: 40%;
  margin-right: 25px;
  float: left;
}

.field-collection-item-field-block .field-name-field-block-subblock .field-item.odd {
  margin-right: 0;
}

.field-collection-item-field-block .field-name-field-block-subblock .field-item .field-collection-item-field-block-subblock .field-item {
  float: none;
  width: auto;
}

.field-collection-item-field-block .field-name-field-block-subblock .field-name-field-subblock-title {
  font-size: 1.692em;
  color: #646464;
}

.field-collection-item-field-block .field-name-field-block-subblock .field-name-field-subblock-text {
  font-size: 1.231em;
  color: #838383;
  margin-bottom: 30px;
}

.field-collection-item-field-block .field-item.highlighted {
  background: #eb2c23;
  color: white;
}

/* Course Roadmap */
.course-roadmap h2.roadmap-title {
  font-size: 2.923em;
  color: #eb2c23;
  font-family: "DaxlineWeb-Medium";
}

.course-roadmap .view-courses-per-subject h3 {
  float: left;
  font-size: 1.692em;
  color: #585858;
  padding-top: 15px;
}

.course-roadmap .view-courses-per-subject .item-list {
  border-bottom: 1px solid #d6d6d6;
}

.course-roadmap .view-courses-per-subject ul.courses {
  margin: 0;
  margin-left: 30%;
}

.course-roadmap .view-courses-per-subject ul.courses li.course {
  border-left: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;  
  margin-bottom: 0;
  padding: 5% 20px;
}

.course-roadmap .view-courses-per-subject ul.courses li.course.views-row-first {
  padding-top: 1%;
}

.course-roadmap .view-courses-per-subject ul.courses li.course.views-row-last {
  border-bottom: none;
}

.course-roadmap .view-courses-per-subject ul.courses li.course .title a {
  font-size: 1.692em;
  color: #585858;
  font-family: "DaxlineWeb-Medium";
}

.course-roadmap .view-courses-per-subject ul.courses li.course .title a:hover {
  color: #838383;
}

.course-roadmap .view-courses-per-subject ul.courses li.course ul.course-links {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.course-roadmap .view-courses-per-subject ul.courses li.course ul.course-links li.course-link {
  float: left;
  font-family: "DaxlineWeb-Bold";
  font-size: 1.231em;
  margin-left: 0;
  margin-right: 30px;
}

.course-roadmap .view-courses-per-subject ul.courses li.course ul.course-links li.course-link a {
  color: #00b2d9;
}

.course-roadmap .view-courses-per-subject ul.courses li.course ul.course-links li.course-link a:hover {
  color: #1889b3;
}

/****************************************************************
 * E.3. COURSE DETAIL PAGE
 ***************************************************************/

/** Header **/
#block-hc-blocks-course-header {
  position: relative;
  margin-bottom: 50px;
}

.block-header-course .text-top {
  background: #eb2c23;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.block-header-course .text-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 33%;
  background: #cd1c1c;
}

.block-header-course .title,
.block-header-course .description {
  color: white;
}

.block-header-course .text-top .title {
  font-size: 3.231em;
  line-height: 1;
  margin-left: 32px;
  margin-top: 32px;
}

.block-header-course .text-top .description {
  font-size: 1.692em;
  margin: 32px;
}

.block-header-course .text-bottom .title {
  font-size: 1.358em;
  margin-left: 32px;
  margin-top: 16px;
}

.block-header-course .text-bottom .description {
  font-size: 1.077em;
  margin: 16px;
  margin-left: 32px;
}

.block-header-course .text-bottom .description ul {
  margin-left: 10px;
}

/** Main Content **/
.field-name-field-course-content-title {
  color: #eb2c23;
  font-family: "DaxlineWeb-Medium";
  font-size: 2.5em;
}

.field-name-field-course-content-intro-text {
  font-size: 1.385em;
  color: #838383;
  width: 70%;
}

.field-name-field-course-content-blocks .field-collection-view {
  border: none;
}

.field-name-field-course-content-blocks .field-item {
  width: 45%;
  margin-right: 5%;
  float: left;
}

.field-name-field-course-content-blocks .field-item .field-collection-item-field-course-content-blocks .field-item {
  width: 100%;
  float: none;
}

.field-name-field-course-content-block-title {
  font-size: 1.692em;
  color: #646464;
}

.field-name-field-course-content-block-text {
  font-size: 1.231em;
  color: #838383;
  margin-bottom: 50px;
}

.field-collection-item-field-course-content .field-collection-container {
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
}

/** Testimonials **/
.block-course-testimonials {
  margin-bottom: 32px;
}

.block-course-testimonials h2.block-title {
  font-size: 3.231em;
  color: #eb2c23;
  margin-bottom: 32px;
}

.block-course-testimonials ul.testimonials {
  margin: 0;
  padding: 0;
}


/****************************************************************
 * E.4. TEAM OVERVIEW PAGE
 ***************************************************************/
.page-team h2.site-name a {
  color: #ef2a09;
}

/** Header on team page **/
.page-team .block-header-team ul li .text {
  background: #ef2a09;
}

.page-team .block-header-team ul li .text .title,
.page-team .block-header-team ul li .text .description {
  color: white;
}

/** Main view with team members on team page **/
.page-team .view-team h3 {
  font-family: "DaxlineWeb-Medium";
  font-weight: normal;
  font-size: 3.231em;
  color: #ef2a09;
}

.page-team .view-team ul.team-items {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.page-team .view-team ul.team-items li.team-item {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  width: 300px;
}

.page-team .view-team ul.team-items li.team-item .visual {
  margin-bottom: 20px;
}

.page-team .view-team ul.team-items li.team-item .name a {
  font-family: "DaxlineWeb-Bold";
  color: #00b2d9;
  font-size: 1.692em;
}

.page-team .view-team ul.team-items li.team-item .name a:hover {
  color: black;
}

.page-team .view-team ul.team-items li.team-item .role,
.page-team .view-team ul.team-items li.team-item .teaches {
  font-size: 1.077em;
  color: #838383;
}

.page-team .view-team ul.team-items li.team-item .teaches a {
  color: #838383;
}

/****************************************************************
 * E.5. TEAM DETAIL (NODE) PAGE
 ***************************************************************/

/** Header **/
#block-hc-blocks-team-header {
  position: relative;
  margin-bottom: 32px;
}

.block-header-team-page .text {
  background: #eb2c23;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

.block-header-team-page .title,
.block-header-team-page .description {
  color: white;
}

.block-header-team-page .text .title {
  font-size: 3.231em;
  line-height: 1;
  margin-top: 32px;
  margin-left: 32px;
}

.block-header-team-page .text .description {
  font-size: 1.462em;
  margin: 32px;
}

/** Testimonials **/
.block-trainer-testimonials {
  margin-bottom: 32px;
}

.block-trainer-testimonials h2.block-title {
  font-size: 2.923em;
  line-height: 1;
  color: #eb2c23;
  margin: 32px 0;
  font-family: "DaxlineWeb-Medium";
  font-weight: normal;
}

/** Fields **/
.field-name-field-team-about .field-label {
  font-size: 2.111em;
  line-height: 1;
  margin-bottom: 32px;
  font-family: "DaxlineWeb-Medium";
  font-weight: normal;
  color: #ef2a09;
}

.field-name-field-team-about {
  width: 50%;
  float: left;
  font-size: 1.385em;
  color: #000;
  margin-right: 32px;
}

.field-name-field-team-about p {
  margin-bottom: 32px;
}


.field-name-field-team-certifications,
.field-name-field-team-accreditations,
.field-name-field-global-region {
  margin-left: 54%;
  font-size: 1.231em;
  color: #000;
}

.field-name-field-global-region #map-canvas {
  font-size: 0.75em;
}

.field-name-field-team-certifications .field-label,
.field-name-field-team-accreditations .field-label,
.field-name-field-global-region .field-label {
  font-family: "DaxlineWeb-Bold";
  font-weight: normal;
  margin-bottom: 16px;
}

.field-name-field-team-certifications .field-label,
.field-name-field-team-accreditations .field-label {
  margin-bottom: 0;
}

.field-name-field-team-certifications,
.field-name-field-global-region {
  margin-bottom: 32px;
}


/*
.field-name-field-team-subtitle {
  color: #EB2C23;
  font-family: "DaxlineWeb-Medium";
  font-size: 2.923em;
}

.field-name-field-team-subtext {
  width: 70%;
  font-size: 1.385em;
  color: #838383;
  margin-bottom: 60px;
}

.field-name-field-team-about {
  width: 50%;
  float: left;
  font-size: 1.385em;
  color: #838383;
}

/* Fields: video 
.field-name-field-team-video {
  clear: left;
  padding-top: 60px;
  margin-bottom: 60px;
}

.field-name-field-team-video .field-item {
  background: #eb2c23;
  margin-left: -30px;
  margin-right: -30px;
  padding: 20px 30px;
  color: white;
}

.field-name-field-team-video .field-item .field-name-field-team-video-description {
  font-size: 1.538em;
}

.field-name-field-team-video .field-item .field-name-field-team-video-description .field-label {
  font-family: "DaxlineWeb-Medium";
  font-size: 2.1em;
  font-weight: normal;
  width: auto;
}

.field-name-field-team-about .field-label,
.field-name-field-team-accreditations .field-label,
.field-name-field-team-certifications .field-label {
  font-family: "DaxlineWeb-Bold";
  font-weight: normal;
}

*/

/****************************************************************
 * E.6. BLOG/NEWS OVERVIEW PAGE
 ***************************************************************/
.page-news h1.title {
  background: #eb2c23;
  margin-left: -30px;
  margin-right: -30px;
  padding: 20px 30px;
  color: white;
}

.page-news .main-page ul.news-items { 
  margin: 0;
  padding: 0;
}

.page-news .main-page ul.news-items li.news-item {
  float: none;
  margin-bottom: 40px;
  padding-left: 250px;
  padding-bottom: 40px;
  border-bottom: 2px solid #e2e2e2;
}

.page-news .main-page ul.news-items li.news-item.views-row-first {
  margin-top: 60px;
}

.page-news .main-page ul.news-items li.news-item.views-row-last {
  border-bottom: none;
}

.page-news .main-page ul.news-items li.news-item .news-title {
  font-size: 3.231em;
  font-family: "DaxlineWeb-Medium";
  color: #3f3f3f;
}

.page-news .main-page ul.news-items li.news-item .intro {
  text-transform: uppercase;
  font-size: 1.077em;
  font-family: "DaxlineWeb-Medium";
  color: #969696;
  margin-bottom: 30px;
}

.page-news .main-page ul.news-items li.news-item .intro a {
  color: #00b2d9;
}

.page-news .main-page ul.news-items li.news-item .intro a:hover {
  color: #000;
}

.page-news .main-page ul.news-items li.news-item .news-body {
  font-size: 1.384em;
  color: #838383;
}

.page-news .main-page ul.news-items li.news-item .read-this-post {
  font-family: "DaxlineWeb-Bold";
  font-size: 1.231em;
  margin-top: 20px;
}

.page-news .main-page ul.news-items li.news-item .read-this-post a {
  color: #00b2d9;
}

.page-news .main-page ul.news-items li.news-item .read-this-post a:hover {
  color: black;
}