#hc-regions-select-region-form .form-submit { display: none; }

#block-hc-regions-region-selection { margin-right: 30px;}
#block-hc-regions-region-selection label { float: left; padding-top: 3px; margin-right: 10px;}