/** Modal form: book this course **/
.ui-widget-overlay { 
  background: none !important;
}

.ui-dialog {
  width: 550px !important;
/*   width: 1000px !important;   */
  font-family: "DaxlineWeb" !important;
  color: white !important;
  -moz-box-shadow: 0 0 10px #444;
  -webkit-box-shadow: 0 0 10px #444;
  box-shadow: 0 0 10px #444; 
  position: relative;
  background: #f7a31c;
}

.ui-dialog-titlebar {
  background: none !important;
  border: none;
  cursor: default !important;
  margin: 0 !important;
  padding: 0 !important;
}

.ui-dialog .ui-dialog-titlebar-close {
  top: 20px;
  z-index: 100000;
}

.ui-widget-header .ui-icon {
  background-image: url(img/ui-icons.png);
}

#ui-dialog-title-simple-dialog-container {
  display: none;
}

.page-book-a-course .ui-dialog {
  background: #f7a31c;
}


/* Webform itself */
#webform-client-form-67,
#webform-client-form-67 label,
#webform-client-form-67 .form-required {
  color: white;
}

#webform-client-form-67 label {
  float: left;
}

#webform-client-form-67 .form-text {
  width: 255px;
  padding-left: 5px;
  height: 35px;
  line-height: 35px;
  color: black;
  border: none;
}

#webform-client-form-67 #webform-component-right .webform-component.hidden {
  display: none;
}

#webform-client-form-67 #webform-component-intro-markup {
  text-align: center;
  font-size: 3.231em;
  color: white;
  margin: 0;
  margin-top: 5px;
}

#webform-client-form-67 #webform-component-intro-markup p {
  line-height: 1.4;
  margin: 0;
}

#webform-client-form-67 #webform-component-title-markup {
  color: white;
  text-align: center;
  font-family: "DaxlineWeb-Bold";
  font-size: 1.692em;
  margin: 0;
  margin-top: 5px;
}

#webform-client-form-67 #webform-component-title-markup p {
  line-height: 1.2;
  margin: 0;
}

#webform-client-form-67 #webform-component-error {
  font-family: "DaxlineWeb-Bold";
}

#webform-client-form-67 #webform-component-attendees {
  width: 160px;
  float: left;
  margin-right: 20px;
}

#webform-client-form-67 #webform-component-attendees label {
  margin-right: 10px;
  float: left;
}

#webform-client-form-67 #webform-component-attendees select {
  width: 20px;
}

#webform-client-form-67 #webform-component-attendees select option {
/*
  height: 20px;
  line-height: 20px;
  font-size: 1.154em;
*/
}

#webform-client-form-67 #webform-component-session {
  float: left;
  width: 320px;
}

#webform-client-form-67 #webform-component-session label {
  margin-right: 10px;
  float: left;
}

#webform-client-form-67 #webform-component-session select {
  width: 200px;
}

#webform-client-form-67 #webform-component-session select option {
/*   font-size: 1.154em; */
}

#webform-client-form-67 #webform-component-left {
  clear: left;
  float: left;
  margin-right: 20px;
}

#webform-client-form-67 #webform-component-left label {
  width: 120px;
  font-size: 1.385em;
  height: 35px;
  line-height: 35px;
}

#webform-client-form-67 #webform-component-left #webform-component-left--mailinglist label {
  float: none;
}

#webform-client-form-67 #webform-component-left #webform-component-left--mailinglist .form-checkbox {
  margin-left: 120px;
}

#webform-client-form-67 #webform-component-right {
  float: left;
  width: 100px;
  text-align: center;
}

#webform-client-form-67 #webform-component-right--coupon-code-markup,
#webform-client-form-67 #webform-component-right--contact-markup {
  font-size: 1.231em;
  line-height: 1.4;
  margin-bottom: 0;
}

#webform-client-form-67 #webform-component-right--coupon-code {
  margin-top: 0;
}

#webform-client-form-67 #webform-component-right .form-text {
  width: 50px;
}

#webform-client-form-67 #edit-actions {
  display: none;
}

#webform-client-form-67 #submit-button {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

#webform-client-form-67 #submit-button button {
  color: white;
  background: #e08a1e;
  border: none;
  line-height: 20px;
  font-size: 1.538em;
  cursor: pointer;
  padding: 10px;
}

#webform-client-form-67 #webform-component-left--company-address label {
  line-height: 22px;
}