/** Stylesheet defining different colors **/

/****************************************** 
 * 1. Course Detail page 
 ******************************************/

/* Site Logo */
.blue1 h1.site-name a, .blue1 h2.site-name a {
  color: #00b2d9;
}

.blue2 h1.site-name a, .blue2 h2.site-name a {
  color: #1889b3;
} 

.blue3 h1.site-name a, .blue3 h2.site-name a {
  color: #005a86;
}


/* Header background */
.blue1 .block-header-course .text-top {
  background-color: #00b2d9;
}

.blue1 .block-header-course .text-bottom {
  background-color: #1889b3;
}

.blue2 .block-header-course .text-top {
  background-color: #1889b3;
}

.blue2 .block-header-course .text-bottom {
  background-color: #005a86;
}

.blue3 .block-header-course .text-top {
  background-color: #005a86;
}

.blue3 .block-header-course .text-bottom {
  background-color: #00b2d9;
}


/* Block Titles */
.blue1 .field-collection-item-field-block .field-name-field-block-title {
  color: #00b2d9;
}

.blue2 .field-collection-item-field-block .field-name-field-block-title {
  color: #1889b3;
}

.blue3 .field-collection-item-field-block .field-name-field-block-title {
  color: #005a86;
}


/* Highlight Block */
.blue1 .field-name-field-block .field-collection-item-field-block.highlighted {
  background: #00b2d9;
}

.blue2 .field-name-field-block .field-collection-item-field-block.highlighted {
  background: #1889b3;
}

.blue3 .field-name-field-block .field-collection-item-field-block.highlighted {
  background: #005a86;
}

/** Navigation Links **/
.blue1 .inline-navigation .item-list ul li p.title {
  color: #00b2d9;
}

.blue2 .inline-navigation .item-list ul li p.title {
  color: #1889b3;
}

.blue3 .inline-navigation .item-list ul li p.title {
  color: #005a86;
}

.blue1 .inline-navigation .item-list ul li a:hover,
.blue1 .inline-navigation .item-list ul li.active a {
  background-color: #00b2d9;
}

.blue2 .inline-navigation .item-list ul li a:hover,
.blue2 .inline-navigation .item-list ul li.active a {
  background-color: #1889b3;
}

.blue3 .inline-navigation .item-list ul li a:hover,
.blue3 .inline-navigation .item-list ul li.active a {
  background-color: #005a86;
}


/**
 * Testimonials 
 **/

/** Body Text **/
.blue1 ul.testimonials li.testimonial .body .inner {
  background: #1889b3;
}

.blue1 ul.testimonials li.testimonial.item1 .body .inner,
.blue1 ul.testimonials li.testimonial.item4 .body .inner,
.blue1 ul.testimonials li.testimonial.item7 .body .inner,
.blue1 ul.testimonials li.testimonial.item10 .body .inner,
.blue1 ul.testimonials li.testimonial.item13 .body .inner,
.blue1 ul.testimonials li.testimonial.item16 .body .inner,
.blue1 ul.testimonials li.testimonial.item19 .body .inner,
.blue1 ul.testimonials li.testimonial.item22 .body .inner,
.blue1 ul.testimonials li.testimonial.item25 .body .inner,
.blue1 ul.testimonials li.testimonial.item28 .body .inner {
  background: #005a86;
}

.blue1 ul.testimonials li.testimonial.item2 .body .inner,
.blue1 ul.testimonials li.testimonial.item5 .body .inner,
.blue1 ul.testimonials li.testimonial.item8 .body .inner,
.blue1 ul.testimonials li.testimonial.item11 .body .inner,
.blue1 ul.testimonials li.testimonial.item14 .body .inner,
.blue1 ul.testimonials li.testimonial.item17 .body .inner,
.blue1 ul.testimonials li.testimonial.item20 .body .inner,
.blue1 ul.testimonials li.testimonial.item23 .body .inner,
.blue1 ul.testimonials li.testimonial.item26 .body .inner,
.blue1 ul.testimonials li.testimonial.item29 .body .inner {
  background: #00b2d9;
}

.blue2 ul.testimonials li.testimonial .body .inner {
  background: #005a86;
}

.blue2 ul.testimonials li.testimonial.item1 .body .inner,
.blue2 ul.testimonials li.testimonial.item4 .body .inner,
.blue2 ul.testimonials li.testimonial.item7 .body .inner,
.blue2 ul.testimonials li.testimonial.item10 .body .inner,
.blue2 ul.testimonials li.testimonial.item13 .body .inner,
.blue2 ul.testimonials li.testimonial.item16 .body .inner,
.blue2 ul.testimonials li.testimonial.item19 .body .inner,
.blue2 ul.testimonials li.testimonial.item22 .body .inner,
.blue2 ul.testimonials li.testimonial.item25 .body .inner,
.blue2 ul.testimonials li.testimonial.item28 .body .inner {
  background: #00b2d9;
}

.blue2 ul.testimonials li.testimonial.item2 .body .inner,
.blue2 ul.testimonials li.testimonial.item5 .body .inner,
.blue2 ul.testimonials li.testimonial.item8 .body .inner,
.blue2 ul.testimonials li.testimonial.item11 .body .inner,
.blue2 ul.testimonials li.testimonial.item14 .body .inner,
.blue2 ul.testimonials li.testimonial.item17 .body .inner,
.blue2 ul.testimonials li.testimonial.item20 .body .inner,
.blue2 ul.testimonials li.testimonial.item23 .body .inner,
.blue2 ul.testimonials li.testimonial.item26 .body .inner,
.blue2 ul.testimonials li.testimonial.item29 .body .inner {
  background: #1889b3;
}

.blue3 ul.testimonials li.testimonial .body .inner {
  background: #00b2d9;
}

.blue3 ul.testimonials li.testimonial.item1 .body .inner,
.blue3 ul.testimonials li.testimonial.item4 .body .inner,
.blue3 ul.testimonials li.testimonial.item7 .body .inner,
.blue3 ul.testimonials li.testimonial.item10 .body .inner,
.blue3 ul.testimonials li.testimonial.item13 .body .inner,
.blue3 ul.testimonials li.testimonial.item16 .body .inner,
.blue3 ul.testimonials li.testimonial.item19 .body .inner,
.blue3 ul.testimonials li.testimonial.item22 .body .inner,
.blue3 ul.testimonials li.testimonial.item25 .body .inner,
.blue3 ul.testimonials li.testimonial.item28 .body .inner {
  background: #1889b3;
}

.blue3 ul.testimonials li.testimonial.item2 .body .inner,
.blue3 ul.testimonials li.testimonial.item5 .body .inner,
.blue3 ul.testimonials li.testimonial.item8 .body .inner,
.blue3 ul.testimonials li.testimonial.item11 .body .inner,
.blue3 ul.testimonials li.testimonial.item14 .body .inner,
.blue3 ul.testimonials li.testimonial.item17 .body .inner,
.blue3 ul.testimonials li.testimonial.item20 .body .inner,
.blue3 ul.testimonials li.testimonial.item23 .body .inner,
.blue3 ul.testimonials li.testimonial.item26 .body .inner,
.blue3 ul.testimonials li.testimonial.item29 .body .inner {
  background: #005a86;
}



/** Triangles **/
.blue1 ul.testimonials li.testimonial .triangle {
	border-color: #1889b3 transparent transparent transparent;
	_border-color: #1889b3 #000000 #000000 #000000;
}

.blue1 ul.testimonials li.testimonial.item1 .triangle,
.blue1 ul.testimonials li.testimonial.item4 .triangle,
.blue1 ul.testimonials li.testimonial.item7 .triangle,
.blue1 ul.testimonials li.testimonial.item10 .triangle,
.blue1 ul.testimonials li.testimonial.item13 .triangle,
.blue1 ul.testimonials li.testimonial.item16 .triangle,
.blue1 ul.testimonials li.testimonial.item19 .triangle,
.blue1 ul.testimonials li.testimonial.item22 .triangle,
.blue1 ul.testimonials li.testimonial.item25 .triangle,
.blue1 ul.testimonials li.testimonial.item28 .triangle {
	border-color: #005a86 transparent transparent transparent;
	_border-color: #005a86 #000000 #000000 #000000;
}

.blue1 ul.testimonials li.testimonial.item2 .triangle,
.blue1 ul.testimonials li.testimonial.item5 .triangle,
.blue1 ul.testimonials li.testimonial.item8 .triangle,
.blue1 ul.testimonials li.testimonial.item11 .triangle,
.blue1 ul.testimonials li.testimonial.item14 .triangle,
.blue1 ul.testimonials li.testimonial.item17 .triangle,
.blue1 ul.testimonials li.testimonial.item20 .triangle,
.blue1 ul.testimonials li.testimonial.item23 .triangle,
.blue1 ul.testimonials li.testimonial.item26 .triangle,
.blue1 ul.testimonials li.testimonial.item29 .triangle {
	border-color: #00b2d9 transparent transparent transparent;
	_border-color: #00b2d9 #000000 #000000 #000000;
}

.blue2 ul.testimonials li.testimonial .triangle {
	border-color: #005a86 transparent transparent transparent;
	_border-color: #005a86 #000000 #000000 #000000;
}

.blue2 ul.testimonials li.testimonial.item1 .triangle,
.blue2 ul.testimonials li.testimonial.item4 .triangle,
.blue2 ul.testimonials li.testimonial.item7 .triangle,
.blue2 ul.testimonials li.testimonial.item10 .triangle,
.blue2 ul.testimonials li.testimonial.item13 .triangle,
.blue2 ul.testimonials li.testimonial.item16 .triangle,
.blue2 ul.testimonials li.testimonial.item19 .triangle,
.blue2 ul.testimonials li.testimonial.item22 .triangle,
.blue2 ul.testimonials li.testimonial.item25 .triangle,
.blue2 ul.testimonials li.testimonial.item28 .triangle {
	border-color: #00b2d9 transparent transparent transparent;
	_border-color: #00b2d9 #000000 #000000 #000000;
}

.blue2 ul.testimonials li.testimonial.item2 .triangle,
.blue2 ul.testimonials li.testimonial.item5 .triangle,
.blue2 ul.testimonials li.testimonial.item8 .triangle,
.blue2 ul.testimonials li.testimonial.item11 .triangle,
.blue2 ul.testimonials li.testimonial.item14 .triangle,
.blue2 ul.testimonials li.testimonial.item17 .triangle,
.blue2 ul.testimonials li.testimonial.item20 .triangle,
.blue2 ul.testimonials li.testimonial.item23 .triangle,
.blue2 ul.testimonials li.testimonial.item26 .triangle,
.blue2 ul.testimonials li.testimonial.item29 .triangle {
	border-color: #1889b3 transparent transparent transparent;
	_border-color: #1889b3 #000000 #000000 #000000;
}

.blue3 ul.testimonials li.testimonial .triangle {
	border-color: #00b2d9 transparent transparent transparent;
	_border-color: #00b2d9 #000000 #000000 #000000;
}

.blue3 ul.testimonials li.testimonial.item1 .triangle,
.blue3 ul.testimonials li.testimonial.item4 .triangle,
.blue3 ul.testimonials li.testimonial.item7 .triangle,
.blue3 ul.testimonials li.testimonial.item10 .triangle,
.blue3 ul.testimonials li.testimonial.item13 .triangle,
.blue3 ul.testimonials li.testimonial.item16 .triangle,
.blue3 ul.testimonials li.testimonial.item19 .triangle,
.blue3 ul.testimonials li.testimonial.item22 .triangle,
.blue3 ul.testimonials li.testimonial.item25 .triangle,
.blue3 ul.testimonials li.testimonial.item28 .triangle {
	border-color: #1889b3 transparent transparent transparent;
	_border-color: #1889b3 #000000 #000000 #000000;
}

.blue3 ul.testimonials li.testimonial.item2 .triangle,
.blue3 ul.testimonials li.testimonial.item5 .triangle,
.blue3 ul.testimonials li.testimonial.item8 .triangle,
.blue3 ul.testimonials li.testimonial.item11 .triangle,
.blue3 ul.testimonials li.testimonial.item14 .triangle,
.blue3 ul.testimonials li.testimonial.item17 .triangle,
.blue3 ul.testimonials li.testimonial.item20 .triangle,
.blue3 ul.testimonials li.testimonial.item23 .triangle,
.blue3 ul.testimonials li.testimonial.item26 .triangle,
.blue3 ul.testimonials li.testimonial.item29 .triangle {
	border-color: #005a86 transparent transparent transparent;
	_border-color: #005a86 #000000 #000000 #000000;
}




/** Titles **/
.blue1 .block-course-testimonials h2.block-title {
  color: #00b2d9;
}

.blue2 .block-course-testimonials h2.block-title {
  color: #1889b3;
}

.blue3 .block-course-testimonials h2.block-title {
  color: #005a86;
}


/****************************************** 
 * 2. Course Subject page 
 ******************************************/

/* Header background */
.blue1 .catalog-subject-header .text {
  background: #00b2d9;
}

.blue2 .catalog-subject-header .text {
  background: #1889b3;
}

.blue3 .catalog-subject-header .text {
  background: #005a86;
}

/* Navigation links */
.blue1 #block-hc-blocks-catalog-subject-navigation .item-list ul li p.title {
  color: #00b2d9;
}

.blue1 #block-hc-blocks-catalog-subject-navigation .item-list ul li a:hover,
.blue1 #block-hc-blocks-catalog-subject-navigation .item-list ul li.active a {
  background: #00b2d9;
  color: white;
}

.blue2 #block-hc-blocks-catalog-subject-navigation .item-list ul li p.title {
  color: #1889b3;
}

.blue2 #block-hc-blocks-catalog-subject-navigation .item-list ul li a:hover,
.blue2 #block-hc-blocks-catalog-subject-navigation .item-list ul li.active a {
  background: #1889b3;
  color: white;
}

.blue3 #block-hc-blocks-catalog-subject-navigation .item-list ul li p.title {
  color: #005a86;
}

.blue3 #block-hc-blocks-catalog-subject-navigation .item-list ul li a:hover,
.blue3 #block-hc-blocks-catalog-subject-navigation .item-list ul li.active a {
  background: #005a86;
  color: white;
}

/* Courses per subject */
.blue1 .catalog-subject-roadmap h2.block-title {
  color: #00b2d9;
}

.blue2 .catalog-subject-roadmap h2.block-title {
  color: #1889b3;
}

.blue3 .catalog-subject-roadmap h2.block-title {
  color: #005a86;
}


/****************************************** 
 * 3. Catalog Page
 ******************************************/

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color.blue1 {
  background: #00b2d9;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color.blue2 {
  background: #1889b3;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color.blue3 {
  background: #005a86;
}


/*******************************************
 * 4. Course detail page
 ******************************************/
.blue1 .block-public-course-dates h2.block-title {
  color: #00b2d9;
}

.blue2 .block-public-course-dates h2.block-title {
  color: #1889b3;
}

.blue3 .block-public-course-dates h2.block-title {
  color: #005a86;
}

/** Temporary book a course form **/
.blue1 .ui-dialog {
  background: #00b2d9;
}

.blue2 .ui-dialog {
  background: #1889b3;
}

.blue3 .ui-dialog {
  background: #005a86;
}

.blue1 #webform-client-form-67 #edit-actions input {
  background: #1889b3;
}

.blue2 #webform-client-form-67 #edit-actions input {
  background: #005a86;
}

.blue3 #webform-client-form-67 #edit-actions input {
  background: #00b2d9;
}

/* Header backgrounds */
.blue1 .block-header-course .text { 
  background-color: #00b2d9;
}

.blue1 .block-header-course .text .key-information ul li {
  background-color: #1889b3;
}

.blue2 .block-header-course .text { 
  background-color: #1889b3;
}

.blue2 .block-header-course .text .key-information ul li {
  background-color: #005a86;
}

.blue3 .block-header-course .text { 
  background-color: #005a86;
}

.blue3 .block-header-course .text .key-information ul li {
  background-color: #00b2d9;
}


/*******************************************
 * 5. Landing page detail page
 ******************************************/
.blue1 .landing-page-header .text {
  background: #00b2d9;
}

.blue1.node-type-landing-page .field-name-field-land-page-intro-title {
  color: #00b2d9;
}

.blue1.node-type-landing-page .field-name-field-land-page-intro-desc .extra .large .original {
  color: #00b2d9;
}

.blue2 .landing-page-header .text {
  background: #1889b3;
}

.blue2.node-type-landing-page .field-name-field-land-page-intro-title {
  color: #1889b3;
}

.blue2.node-type-landing-page .field-name-field-land-page-intro-desc .extra .large .original {
  color: #1889b3;
}

.blue3 .landing-page-header .text {
  background: #005a86;
}

.blue3.node-type-landing-page .field-name-field-land-page-intro-title {
  color: #005a86;
}

.blue3.node-type-landing-page .field-name-field-land-page-intro-desc .extra .large .original {
  color: #005a86;
}


/***********************************************
 * 6. Blog pages 
 ***********************************************/
.blue1 #zone-page-title-wrapper {
  background: #00b2d9;
}

.blue2 #zone-page-title-wrapper {
  background: #1889b3;
}

.blue3 #zone-page-title-wrapper {
  background: #005a86;
}