/** Stylesheet defining different colors **/

/****************************************** 
 * 1. Course Detail page 
 ******************************************/

/* Site Logo */
.green1 h1.site-name a, .green1 h2.site-name a {
  color: #47cf6e;
}

.green2 h1.site-name a, .green2 h2.site-name a {
  color: #31b85b;
} 

.green3 h1.site-name a, .green3 h2.site-name a {
  color: #078c2d;
}


/* Header background */
.green1 .block-header-course .text-top {
  background-color: #47cf6e;
}

.green1 .block-header-course .text-bottom {
  background-color: #31b85b;
}

.green2 .block-header-course .text-top {
  background-color: #31b85b;
}

.green2 .block-header-course .text-bottom {
  background-color: #078c2d;
}

.green3 .block-header-course .text-top {
  background-color: #078c2d;
}

.green3 .block-header-course .text-bottom {
  background-color: #47cf6e;
}


/* Block Titles */
.green1 .field-collection-item-field-block .field-name-field-block-title {
  color: #47cf6e;
}

.green2 .field-collection-item-field-block .field-name-field-block-title {
  color: #31b85b;
}

.green3 .field-collection-item-field-block .field-name-field-block-title {
  color: #078c2d;
}


/* Highlight Block */
.green1 .field-name-field-block .field-collection-item-field-block.highlighted {
  background: #47cf6e;
}

.green2 .field-name-field-block .field-collection-item-field-block.highlighted {
  background: #31b85b;
}

.green3 .field-name-field-block .field-collection-item-field-block.highlighted {
  background: #078c2d;
}


/**
 * Testimonials 
 **/

/** Body Text **/
.green1 ul.testimonials li.testimonial .body .inner {
  background: #31b85b;
}

.green1 ul.testimonials li.testimonial.item1 .body .inner,
.green1 ul.testimonials li.testimonial.item4 .body .inner,
.green1 ul.testimonials li.testimonial.item7 .body .inner,
.green1 ul.testimonials li.testimonial.item10 .body .inner,
.green1 ul.testimonials li.testimonial.item13 .body .inner,
.green1 ul.testimonials li.testimonial.item16 .body .inner,
.green1 ul.testimonials li.testimonial.item19 .body .inner,
.green1 ul.testimonials li.testimonial.item22 .body .inner,
.green1 ul.testimonials li.testimonial.item25 .body .inner,
.green1 ul.testimonials li.testimonial.item28 .body .inner {
  background: #078c2d;
}

.green1 ul.testimonials li.testimonial.item2 .body .inner,
.green1 ul.testimonials li.testimonial.item5 .body .inner,
.green1 ul.testimonials li.testimonial.item8 .body .inner,
.green1 ul.testimonials li.testimonial.item11 .body .inner,
.green1 ul.testimonials li.testimonial.item14 .body .inner,
.green1 ul.testimonials li.testimonial.item17 .body .inner,
.green1 ul.testimonials li.testimonial.item20 .body .inner,
.green1 ul.testimonials li.testimonial.item23 .body .inner,
.green1 ul.testimonials li.testimonial.item26 .body .inner,
.green1 ul.testimonials li.testimonial.item29 .body .inner {
  background: #47cf6e;
}

.green2 ul.testimonials li.testimonial .body .inner {
  background: #078c2d;
}

.green2 ul.testimonials li.testimonial.item1 .body .inner,
.green2 ul.testimonials li.testimonial.item4 .body .inner,
.green2 ul.testimonials li.testimonial.item7 .body .inner,
.green2 ul.testimonials li.testimonial.item10 .body .inner,
.green2 ul.testimonials li.testimonial.item13 .body .inner,
.green2 ul.testimonials li.testimonial.item16 .body .inner,
.green2 ul.testimonials li.testimonial.item19 .body .inner,
.green2 ul.testimonials li.testimonial.item22 .body .inner,
.green2 ul.testimonials li.testimonial.item25 .body .inner,
.green2 ul.testimonials li.testimonial.item28 .body .inner {
  background: #47cf6e;
}

.green2 ul.testimonials li.testimonial.item2 .body .inner,
.green2 ul.testimonials li.testimonial.item5 .body .inner,
.green2 ul.testimonials li.testimonial.item8 .body .inner,
.green2 ul.testimonials li.testimonial.item11 .body .inner,
.green2 ul.testimonials li.testimonial.item14 .body .inner,
.green2 ul.testimonials li.testimonial.item17 .body .inner,
.green2 ul.testimonials li.testimonial.item20 .body .inner,
.green2 ul.testimonials li.testimonial.item23 .body .inner,
.green2 ul.testimonials li.testimonial.item26 .body .inner,
.green2 ul.testimonials li.testimonial.item29 .body .inner {
  background: #31b85b;
}

.green3 ul.testimonials li.testimonial .body .inner {
  background: #47cf6e;
}

.green3 ul.testimonials li.testimonial.item1 .body .inner,
.green3 ul.testimonials li.testimonial.item4 .body .inner,
.green3 ul.testimonials li.testimonial.item7 .body .inner,
.green3 ul.testimonials li.testimonial.item10 .body .inner,
.green3 ul.testimonials li.testimonial.item13 .body .inner,
.green3 ul.testimonials li.testimonial.item16 .body .inner,
.green3 ul.testimonials li.testimonial.item19 .body .inner,
.green3 ul.testimonials li.testimonial.item22 .body .inner,
.green3 ul.testimonials li.testimonial.item25 .body .inner,
.green3 ul.testimonials li.testimonial.item28 .body .inner {
  background: #31b85b;
}

.green3 ul.testimonials li.testimonial.item2 .body .inner,
.green3 ul.testimonials li.testimonial.item5 .body .inner,
.green3 ul.testimonials li.testimonial.item8 .body .inner,
.green3 ul.testimonials li.testimonial.item11 .body .inner,
.green3 ul.testimonials li.testimonial.item14 .body .inner,
.green3 ul.testimonials li.testimonial.item17 .body .inner,
.green3 ul.testimonials li.testimonial.item20 .body .inner,
.green3 ul.testimonials li.testimonial.item23 .body .inner,
.green3 ul.testimonials li.testimonial.item26 .body .inner,
.green3 ul.testimonials li.testimonial.item29 .body .inner {
  background: #078c2d;
}



/** Triangles **/
.green1 ul.testimonials li.testimonial .triangle {
	border-color: #31b85b transparent transparent transparent;
	_border-color: #31b85b #000000 #000000 #000000;
}

.green1 ul.testimonials li.testimonial.item1 .triangle,
.green1 ul.testimonials li.testimonial.item4 .triangle,
.green1 ul.testimonials li.testimonial.item7 .triangle,
.green1 ul.testimonials li.testimonial.item10 .triangle,
.green1 ul.testimonials li.testimonial.item13 .triangle,
.green1 ul.testimonials li.testimonial.item16 .triangle,
.green1 ul.testimonials li.testimonial.item19 .triangle,
.green1 ul.testimonials li.testimonial.item22 .triangle,
.green1 ul.testimonials li.testimonial.item25 .triangle,
.green1 ul.testimonials li.testimonial.item28 .triangle {
	border-color: #078c2d transparent transparent transparent;
	_border-color: #078c2d #000000 #000000 #000000;
}

.green1 ul.testimonials li.testimonial.item2 .triangle,
.green1 ul.testimonials li.testimonial.item5 .triangle,
.green1 ul.testimonials li.testimonial.item8 .triangle,
.green1 ul.testimonials li.testimonial.item11 .triangle,
.green1 ul.testimonials li.testimonial.item14 .triangle,
.green1 ul.testimonials li.testimonial.item17 .triangle,
.green1 ul.testimonials li.testimonial.item20 .triangle,
.green1 ul.testimonials li.testimonial.item23 .triangle,
.green1 ul.testimonials li.testimonial.item26 .triangle,
.green1 ul.testimonials li.testimonial.item29 .triangle {
	border-color: #47cf6e transparent transparent transparent;
	_border-color: #47cf6e #000000 #000000 #000000;
}

.green2 ul.testimonials li.testimonial .triangle {
	border-color: #078c2d transparent transparent transparent;
	_border-color: #078c2d #000000 #000000 #000000;
}

.green2 ul.testimonials li.testimonial.item1 .triangle,
.green2 ul.testimonials li.testimonial.item4 .triangle,
.green2 ul.testimonials li.testimonial.item7 .triangle,
.green2 ul.testimonials li.testimonial.item10 .triangle,
.green2 ul.testimonials li.testimonial.item13 .triangle,
.green2 ul.testimonials li.testimonial.item16 .triangle,
.green2 ul.testimonials li.testimonial.item19 .triangle,
.green2 ul.testimonials li.testimonial.item22 .triangle,
.green2 ul.testimonials li.testimonial.item25 .triangle,
.green2 ul.testimonials li.testimonial.item28 .triangle {
	border-color: #47cf6e transparent transparent transparent;
	_border-color: #47cf6e #000000 #000000 #000000;
}

.green2 ul.testimonials li.testimonial.item2 .triangle,
.green2 ul.testimonials li.testimonial.item5 .triangle,
.green2 ul.testimonials li.testimonial.item8 .triangle,
.green2 ul.testimonials li.testimonial.item11 .triangle,
.green2 ul.testimonials li.testimonial.item14 .triangle,
.green2 ul.testimonials li.testimonial.item17 .triangle,
.green2 ul.testimonials li.testimonial.item20 .triangle,
.green2 ul.testimonials li.testimonial.item23 .triangle,
.green2 ul.testimonials li.testimonial.item26 .triangle,
.green2 ul.testimonials li.testimonial.item29 .triangle {
	border-color: #31b85b transparent transparent transparent;
	_border-color: #31b85b #000000 #000000 #000000;
}

.green3 ul.testimonials li.testimonial .triangle {
	border-color: #47cf6e transparent transparent transparent;
	_border-color: #47cf6e #000000 #000000 #000000;
}

.green3 ul.testimonials li.testimonial.item1 .triangle,
.green3 ul.testimonials li.testimonial.item4 .triangle,
.green3 ul.testimonials li.testimonial.item7 .triangle,
.green3 ul.testimonials li.testimonial.item10 .triangle,
.green3 ul.testimonials li.testimonial.item13 .triangle,
.green3 ul.testimonials li.testimonial.item16 .triangle,
.green3 ul.testimonials li.testimonial.item19 .triangle,
.green3 ul.testimonials li.testimonial.item22 .triangle,
.green3 ul.testimonials li.testimonial.item25 .triangle,
.green3 ul.testimonials li.testimonial.item28 .triangle {
	border-color: #31b85b transparent transparent transparent;
	_border-color: #31b85b #000000 #000000 #000000;
}

.green3 ul.testimonials li.testimonial.item2 .triangle,
.green3 ul.testimonials li.testimonial.item5 .triangle,
.green3 ul.testimonials li.testimonial.item8 .triangle,
.green3 ul.testimonials li.testimonial.item11 .triangle,
.green3 ul.testimonials li.testimonial.item14 .triangle,
.green3 ul.testimonials li.testimonial.item17 .triangle,
.green3 ul.testimonials li.testimonial.item20 .triangle,
.green3 ul.testimonials li.testimonial.item23 .triangle,
.green3 ul.testimonials li.testimonial.item26 .triangle,
.green3 ul.testimonials li.testimonial.item29 .triangle {
	border-color: #078c2d transparent transparent transparent;
	_border-color: #078c2d #000000 #000000 #000000;
}


/** Titles **/
.green1 .block-course-testimonials h2.block-title {
  color: #47cf6e;
}

.green2 .block-course-testimonials h2.block-title {
  color: #31b85b;
}

.green3 .block-course-testimonials h2.block-title {
  color: #078c2d;
}

/****************************************** 
 * 2. Course Subject page 
 ******************************************/

/* Header background */
.green1 .catalog-subject-header .text {
  background: #47cf6e;
}

.green2 .catalog-subject-header .text {
  background: #31b85b;
}

.green3 .catalog-subject-header .text {
  background: #078c2d;
}

/* Navigation links */
.green1 #block-hc-blocks-catalog-subject-navigation .item-list ul li p.title {
  color: #47cf6e;
}

.green1 #block-hc-blocks-catalog-subject-navigation .item-list ul li a:hover,
.green1 #block-hc-blocks-catalog-subject-navigation .item-list ul li.active a {
  background: #47cf6e;
  color: white;
}

.green2 #block-hc-blocks-catalog-subject-navigation .item-list ul li p.title {
  color: #31b85b;
}

.green2 #block-hc-blocks-catalog-subject-navigation .item-list ul li a:hover,
.green2 #block-hc-blocks-catalog-subject-navigation .item-list ul li.active a {
  background: #31b85b;
  color: white;
}

.green3 #block-hc-blocks-catalog-subject-navigation .item-list ul li p.title {
  color: #078c2d;
}

.green3 #block-hc-blocks-catalog-subject-navigation .item-list ul li a:hover,
.green3 #block-hc-blocks-catalog-subject-navigation .item-list ul li.active a {
  background: #078c2d;
  color: white;
}

/* Courses per subject */
.green1 .catalog-subject-roadmap h2.block-title {
  color: #47cf6e;
}

.green2 .catalog-subject-roadmap h2.block-title {
  color: #31b85b;
}

.green3 .catalog-subject-roadmap h2.block-title {
  color: #078c2d;
}


/****************************************** 
 * 3. Catalog Page
 ******************************************/

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color.green1 {
  background: #47cf6e;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color.green2 {
  background: #31b85b;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color.green3 {
  background: #078c2d;
}

/*******************************************
 * 4. Course detail page
 ******************************************/
.green1 .block-public-course-dates h2.block-title {
  color: #47cf6e;
}

.green2 .block-public-course-dates h2.block-title {
  color: #31b85b;
}

.green3 .block-public-course-dates h2.block-title {
  color: #078c2d;
}