/** Stylesheet defining different colors **/

/****************************************** 
 * 1. Course Detail page 
 ******************************************/

/* Site Logo */
.red1 h1.site-name a, .red1 h2.site-name a {
  color: #ef2a09;
}

.red2 h1.site-name a, .red2 h2.site-name a {
  color: #cd1c1c;
} 

.red3 h1.site-name a, .red3 h2.site-name a {
  color: #a30000;
}

/* Header background */
.red1 .block-header-course .text-top {
  background-color: #ef2a09;
}

.red1 .block-header-course .text-bottom {
  background-color: #cd1c1c;
}

.red2 .block-header-course .text-top {
  background-color: #cd1c1c;
}

.red2 .block-header-course .text-bottom {
  background-color: #a30000;
}

.red3 .block-header-course .text-top {
  background-color: #a30000;
}

.red3 .block-header-course .text-bottom {
  background-color: #ef2a09;
}


/* Block Titles */
.red1 .field-collection-item-field-block .field-name-field-block-title {
  color: #ef2a09;
}

.red2 .field-collection-item-field-block .field-name-field-block-title {
  color: #cd1c1c;
}

.red3 .field-collection-item-field-block .field-name-field-block-title {
  color: #a30000;
}

/* Highlight Block */
.red1 .field-name-field-block .field-collection-item-field-block.highlighted {
  background: #eb2c23;
}

.red2 .field-name-field-block .field-collection-item-field-block.highlighted {
  background: #cd1c1c;
}

.red3 .field-name-field-block .field-collection-item-field-block.highlighted {
  background: #a30000;
}

/** Navigation Links **/
.red1 .inline-navigation .item-list ul li p.title {
  color: #ef2a09;
}

.red2 .inline-navigation .item-list ul li p.title {
  color: #cd1c1c;
}

.red3 .inline-navigation .item-list ul li p.title {
  color: #a30000;
}

.red1 .inline-navigation .item-list ul li a:hover,
.red1 .inline-navigation .item-list ul li.active a {
  background-color: #ef2a09;
}

.red2 .inline-navigation .item-list ul li a:hover,
.red2 .inline-navigation .item-list ul li.active a {
  background-color: #cd1c1c;
}

.red3 .inline-navigation .item-list ul li a:hover,
.red3 .inline-navigation .item-list ul li.active a {
  background-color: #a30000;
}

/**
 * Testimonials
 */

/** Body Text **/
.red1 ul.testimonials li.testimonial .body .inner {
  background: #cd1c1c;
}

.red1 ul.testimonials li.testimonial.item1 .body .inner,
.red1 ul.testimonials li.testimonial.item4 .body .inner,
.red1 ul.testimonials li.testimonial.item7 .body .inner,
.red1 ul.testimonials li.testimonial.item10 .body .inner,
.red1 ul.testimonials li.testimonial.item13 .body .inner,
.red1 ul.testimonials li.testimonial.item16 .body .inner,
.red1 ul.testimonials li.testimonial.item19 .body .inner,
.red1 ul.testimonials li.testimonial.item22 .body .inner,
.red1 ul.testimonials li.testimonial.item25 .body .inner,
.red1 ul.testimonials li.testimonial.item28 .body .inner {
  background: #a30000;
}

.red1 ul.testimonials li.testimonial.item2 .body .inner,
.red1 ul.testimonials li.testimonial.item5 .body .inner,
.red1 ul.testimonials li.testimonial.item8 .body .inner,
.red1 ul.testimonials li.testimonial.item11 .body .inner,
.red1 ul.testimonials li.testimonial.item14 .body .inner,
.red1 ul.testimonials li.testimonial.item17 .body .inner,
.red1 ul.testimonials li.testimonial.item20 .body .inner,
.red1 ul.testimonials li.testimonial.item23 .body .inner,
.red1 ul.testimonials li.testimonial.item26 .body .inner,
.red1 ul.testimonials li.testimonial.item29 .body .inner {
  background: #ef2a09;
}

.red2 ul.testimonials li.testimonial .body .inner {
  background: #a30000;
}

.red2 ul.testimonials li.testimonial.item1 .body .inner,
.red2 ul.testimonials li.testimonial.item4 .body .inner,
.red2 ul.testimonials li.testimonial.item7 .body .inner,
.red2 ul.testimonials li.testimonial.item10 .body .inner,
.red2 ul.testimonials li.testimonial.item13 .body .inner,
.red2 ul.testimonials li.testimonial.item16 .body .inner,
.red2 ul.testimonials li.testimonial.item19 .body .inner,
.red2 ul.testimonials li.testimonial.item22 .body .inner,
.red2 ul.testimonials li.testimonial.item25 .body .inner,
.red2 ul.testimonials li.testimonial.item28 .body .inner {
  background: #ef2a09;
}

.red2 ul.testimonials li.testimonial.item2 .body .inner,
.red2 ul.testimonials li.testimonial.item5 .body .inner,
.red2 ul.testimonials li.testimonial.item8 .body .inner,
.red2 ul.testimonials li.testimonial.item11 .body .inner,
.red2 ul.testimonials li.testimonial.item14 .body .inner,
.red2 ul.testimonials li.testimonial.item17 .body .inner,
.red2 ul.testimonials li.testimonial.item20 .body .inner,
.red2 ul.testimonials li.testimonial.item23 .body .inner,
.red2 ul.testimonials li.testimonial.item26 .body .inner,
.red2 ul.testimonials li.testimonial.item29 .body .inner {
  background: #cd1c1c;
}

.red3 ul.testimonials li.testimonial .body .inner {
  background: #ef2a09;
}

.red3 ul.testimonials li.testimonial.item1 .body .inner,
.red3 ul.testimonials li.testimonial.item4 .body .inner,
.red3 ul.testimonials li.testimonial.item7 .body .inner,
.red3 ul.testimonials li.testimonial.item10 .body .inner,
.red3 ul.testimonials li.testimonial.item13 .body .inner,
.red3 ul.testimonials li.testimonial.item16 .body .inner,
.red3 ul.testimonials li.testimonial.item19 .body .inner,
.red3 ul.testimonials li.testimonial.item22 .body .inner,
.red3 ul.testimonials li.testimonial.item25 .body .inner,
.red3 ul.testimonials li.testimonial.item28 .body .inner {
  background: #cd1c1c;
}

.red3 ul.testimonials li.testimonial.item2 .body .inner,
.red3 ul.testimonials li.testimonial.item5 .body .inner,
.red3 ul.testimonials li.testimonial.item8 .body .inner,
.red3 ul.testimonials li.testimonial.item11 .body .inner,
.red3 ul.testimonials li.testimonial.item14 .body .inner,
.red3 ul.testimonials li.testimonial.item17 .body .inner,
.red3 ul.testimonials li.testimonial.item20 .body .inner,
.red3 ul.testimonials li.testimonial.item23 .body .inner,
.red3 ul.testimonials li.testimonial.item26 .body .inner,
.red3 ul.testimonials li.testimonial.item29 .body .inner {
  background: #a30000;
}

/** Triangles **/
.red1 ul.testimonials li.testimonial .triangle {
	border-color: #cd1c1c transparent transparent transparent;
	_border-color: #cd1c1c #000000 #000000 #000000;
}

.red1 ul.testimonials li.testimonial.item1 .triangle,
.red1 ul.testimonials li.testimonial.item4 .triangle,
.red1 ul.testimonials li.testimonial.item7 .triangle,
.red1 ul.testimonials li.testimonial.item10 .triangle,
.red1 ul.testimonials li.testimonial.item13 .triangle,
.red1 ul.testimonials li.testimonial.item16 .triangle,
.red1 ul.testimonials li.testimonial.item19 .triangle,
.red1 ul.testimonials li.testimonial.item22 .triangle,
.red1 ul.testimonials li.testimonial.item25 .triangle,
.red1 ul.testimonials li.testimonial.item28 .triangle {
	border-color: #a30000 transparent transparent transparent;
	_border-color: #a30000 #000000 #000000 #000000;
}

.red1 ul.testimonials li.testimonial.item2 .triangle,
.red1 ul.testimonials li.testimonial.item5 .triangle,
.red1 ul.testimonials li.testimonial.item8 .triangle,
.red1 ul.testimonials li.testimonial.item11 .triangle,
.red1 ul.testimonials li.testimonial.item14 .triangle,
.red1 ul.testimonials li.testimonial.item17 .triangle,
.red1 ul.testimonials li.testimonial.item20 .triangle,
.red1 ul.testimonials li.testimonial.item23 .triangle,
.red1 ul.testimonials li.testimonial.item26 .triangle,
.red1 ul.testimonials li.testimonial.item29 .triangle {
	border-color: #ef2a09 transparent transparent transparent;
	_border-color: #ef2a09 #000000 #000000 #000000;
}

.red2 ul.testimonials li.testimonial .triangle {
	border-color: #a30000 transparent transparent transparent;
	_border-color: #a30000 #000000 #000000 #000000;
}

.red2 ul.testimonials li.testimonial.item1 .triangle,
.red2 ul.testimonials li.testimonial.item4 .triangle,
.red2 ul.testimonials li.testimonial.item7 .triangle,
.red2 ul.testimonials li.testimonial.item10 .triangle,
.red2 ul.testimonials li.testimonial.item13 .triangle,
.red2 ul.testimonials li.testimonial.item16 .triangle,
.red2 ul.testimonials li.testimonial.item19 .triangle,
.red2 ul.testimonials li.testimonial.item22 .triangle,
.red2 ul.testimonials li.testimonial.item25 .triangle,
.red2 ul.testimonials li.testimonial.item28 .triangle {
	border-color: #ef2a09 transparent transparent transparent;
	_border-color: #ef2a09 #000000 #000000 #000000;
}

.red2 ul.testimonials li.testimonial.item2 .triangle,
.red2 ul.testimonials li.testimonial.item5 .triangle,
.red2 ul.testimonials li.testimonial.item8 .triangle,
.red2 ul.testimonials li.testimonial.item11 .triangle,
.red2 ul.testimonials li.testimonial.item14 .triangle,
.red2 ul.testimonials li.testimonial.item17 .triangle,
.red2 ul.testimonials li.testimonial.item20 .triangle,
.red2 ul.testimonials li.testimonial.item23 .triangle,
.red2 ul.testimonials li.testimonial.item26 .triangle,
.red2 ul.testimonials li.testimonial.item29 .triangle {
	border-color: #cd1c1c transparent transparent transparent;
	_border-color: #cd1c1c #000000 #000000 #000000;
}

.red3 ul.testimonials li.testimonial .triangle {
	border-color: #ef2a09 transparent transparent transparent;
	_border-color: #ef2a09 #000000 #000000 #000000;
}

.red3 ul.testimonials li.testimonial.item1 .triangle,
.red3 ul.testimonials li.testimonial.item4 .triangle,
.red3 ul.testimonials li.testimonial.item7 .triangle,
.red3 ul.testimonials li.testimonial.item10 .triangle,
.red3 ul.testimonials li.testimonial.item13 .triangle,
.red3 ul.testimonials li.testimonial.item16 .triangle,
.red3 ul.testimonials li.testimonial.item19 .triangle,
.red3 ul.testimonials li.testimonial.item22 .triangle,
.red3 ul.testimonials li.testimonial.item25 .triangle,
.red3 ul.testimonials li.testimonial.item28 .triangle {
	border-color: #cd1c1c transparent transparent transparent;
	_border-color: #cd1c1c #000000 #000000 #000000;
}

.red3 ul.testimonials li.testimonial.item2 .triangle,
.red3 ul.testimonials li.testimonial.item5 .triangle,
.red3 ul.testimonials li.testimonial.item8 .triangle,
.red3 ul.testimonials li.testimonial.item11 .triangle,
.red3 ul.testimonials li.testimonial.item14 .triangle,
.red3 ul.testimonials li.testimonial.item17 .triangle,
.red3 ul.testimonials li.testimonial.item20 .triangle,
.red3 ul.testimonials li.testimonial.item23 .triangle,
.red3 ul.testimonials li.testimonial.item26 .triangle,
.red3 ul.testimonials li.testimonial.item29 .triangle {
	border-color: #a30000 transparent transparent transparent;
	_border-color: #a30000 #000000 #000000 #000000;
}




/** Titles **/
.red1 .block-course-testimonials h2.block-title {
  color: #eb2c23;
}

.red2 .block-course-testimonials h2.block-title {
  color: #cd1c1c;
}

.red3 .block-course-testimonials h2.block-title {
  color: #a30000;
}


/****************************************** 
 * 2. Course Subject page 
 ******************************************/

/* Header background */
.red1 .catalog-subject-header .text {
  background: #ef2a09;
}

.red2 .catalog-subject-header .text {
  background: #cd1c1c;
}

.red3 .catalog-subject-header .text {
  background: #a30000;
}

/* Navigation links */
.red1 #block-hc-blocks-catalog-subject-navigation .item-list ul li p.title {
  color: #ef2a09;
}

.red1 #block-hc-blocks-catalog-subject-navigation .item-list ul li a:hover,
.red1 #block-hc-blocks-catalog-subject-navigation .item-list ul li.active a {
  background: #ef2a09;
  color: white;
}

.red2 #block-hc-blocks-catalog-subject-navigation .item-list ul li p.title {
  color: #cd1c1c;
}

.red2 #block-hc-blocks-catalog-subject-navigation .item-list ul li a:hover,
.red2 #block-hc-blocks-catalog-subject-navigation .item-list ul li.active a {
  background: #cd1c1c;
  color: white;
}

.red3 #block-hc-blocks-catalog-subject-navigation .item-list ul li p.title {
  color: #a30000;
}

.red3 #block-hc-blocks-catalog-subject-navigation .item-list ul li a:hover,
.red3 #block-hc-blocks-catalog-subject-navigation .item-list ul li.active a {
  background: #a30000;
  color: white;
}

/* Courses per subject */
.red1 .catalog-subject-roadmap h2.block-title {
  color: #ef2a09;
}

.red2 .catalog-subject-roadmap h2.block-title {
  color: #cd1c1c;
}

.red3 .catalog-subject-roadmap h2.block-title {
  color: #a30000;
}


/****************************************** 
 * 3. Catalog Page
 ******************************************/

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color.red1 {
  background: #ef2a09;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color.red2 {
  background: #cd1c1c;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color.red3 {
  background: #a30000;
}

/*******************************************
 * 4. Course detail page
 ******************************************/
.red1 .block-public-course-dates h2.block-title {
  color: #eb2c23;
}

.red2 .block-public-course-dates h2.block-title {
  color: #cd1c1c;
}

.red3 .block-public-course-dates h2.block-title {
  color: #a30000;
}

/** Temporary book a course form **/
.red1 .ui-dialog {
  background: #ef2a09;
}

.red1 .ui-dialog #edit-actions .form-submit {
  background: #cd1c1c;
}

.red2 .ui-dialog {
  background: #cd1c1c;
}

.red2 .ui-dialog #edit-actions .form-submit {
  background: #a30000;
}

.red3 .ui-dialog {
  background: #a30000;
}

.red3 .ui-dialog #edit-actions .form-submit {
  background: #ef2a09;
}

.red1 #webform-client-form-67 #submit-button button {
  background: #cd1c1c;
}

.red2 #webform-client-form-67 #submit-button button {
  background: #a30000;
}

.red3 #webform-client-form-67 #submit-button button {
  background: #ef2a09;
}

/* Header backgrounds */
.red1 .block-header-course .text { 
  background-color: #ef2a09;
}

.red1 .block-header-course .text .key-information ul li {
  background-color: #cd1c1c;
}

.red2 .block-header-course .text { 
  background-color: #cd1c1c;
}

.red2 .block-header-course .text .key-information ul li {
  background-color: #a30000;
}

.red3 .block-header-course .text { 
  background-color: #a30000;
}

.red3 .block-header-course .text .key-information ul li {
  background-color: #ef2a09;
}

/*******************************************
 * 5. Landing page detail page
 ******************************************/
.red1 .landing-page-header .text {
  background: #ef2a09;
}

.red1.node-type-landing-page .field-name-field-land-page-intro-title {
  color: #ef2a09;
}

.red1.node-type-landing-page .field-name-field-land-page-intro-desc .extra .large .original {
  color: #ef2a09;
}

.red2 .landing-page-header .text {
  background: #cd1c1c;
}

.red2.node-type-landing-page .field-name-field-land-page-intro-title {
  color: #cd1c1c;
}

.red2.node-type-landing-page .field-name-field-land-page-intro-desc .extra .large .original {
  color: #cd1c1c;
}

.red3 .landing-page-header .text {
  background: #a30000;
}

.red3.node-type-landing-page .field-name-field-land-page-intro-title {
  color: #a30000;
}

.red3.node-type-landing-page .field-name-field-land-page-intro-desc .extra .large .original {
  color: #a30000;
}