/** Stylesheet defining different colors **/

/****************************************** 
 * 1. Course Detail page 
 ******************************************/

/* Site Logo */
.yellow1 h1.site-name a, .yellow1 h2.site-name a {
  color: #f7a31c;
}

.yellow2 h1.site-name a, .yellow2 h2.site-name a {
  color: #e08a1e;
} 

.yellow3 h1.site-name a, .yellow3 h2.site-name a {
  color: #d16800;
}


/* Header background */
.yellow1 .block-header-course .text-top {
  background-color: #f7a31c;
}

.yellow1 .block-header-course .text-bottom {
  background-color: #e08a1e;
}

.yellow2 .block-header-course .text-top {
  background-color: #e08a1e;
}

.yellow2 .block-header-course .text-bottom {
  background-color: #d16800;
}

.yellow3 .block-header-course .text-top {
  background-color: #d16800;
}

.yellow3 .block-header-course .text-bottom {
  background-color: #f7a31c;
}


/* Block Titles */
.yellow1 .field-collection-item-field-block .field-name-field-block-title {
  color: #f7a31c;
}

.yellow2 .field-collection-item-field-block .field-name-field-block-title {
  color: #e08a1e;
}

.yellow3 .field-collection-item-field-block .field-name-field-block-title {
  color: #d16800;
}


/* Highlight Block */
.yellow1 .field-name-field-block .field-collection-item-field-block.highlighted {
  background: #f7a31c;
}

.yellow2 .field-name-field-block .field-collection-item-field-block.highlighted {
  background: #e08a1e;
}

.yellow3 .field-name-field-block .field-collection-item-field-block.highlighted {
  background: #d16800;
}

/** Navigation Links **/
.yellow1 .inline-navigation .item-list ul li p.title {
  color: #f7a31c;
}

.yellow2 .inline-navigation .item-list ul li p.title {
  color: #e08a1e;
}

.yellow3 .inline-navigation .item-list ul li p.title {
  color: #d18600;
}



/**
 * Testimonials
 **/

/** Body Text **/
.yellow1 ul.testimonials li.testimonial .body .inner {
  background: #e08a1e;
}

.yellow1 ul.testimonials li.testimonial.item1 .body .inner,
.yellow1 ul.testimonials li.testimonial.item4 .body .inner,
.yellow1 ul.testimonials li.testimonial.item7 .body .inner,
.yellow1 ul.testimonials li.testimonial.item10 .body .inner,
.yellow1 ul.testimonials li.testimonial.item13 .body .inner,
.yellow1 ul.testimonials li.testimonial.item16 .body .inner,
.yellow1 ul.testimonials li.testimonial.item19 .body .inner,
.yellow1 ul.testimonials li.testimonial.item22 .body .inner,
.yellow1 ul.testimonials li.testimonial.item25 .body .inner,
.yellow1 ul.testimonials li.testimonial.item28 .body .inner {
  background: #d16800;
}

.yellow1 ul.testimonials li.testimonial.item2 .body .inner,
.yellow1 ul.testimonials li.testimonial.item5 .body .inner,
.yellow1 ul.testimonials li.testimonial.item8 .body .inner,
.yellow1 ul.testimonials li.testimonial.item11 .body .inner,
.yellow1 ul.testimonials li.testimonial.item14 .body .inner,
.yellow1 ul.testimonials li.testimonial.item17 .body .inner,
.yellow1 ul.testimonials li.testimonial.item20 .body .inner,
.yellow1 ul.testimonials li.testimonial.item23 .body .inner,
.yellow1 ul.testimonials li.testimonial.item26 .body .inner,
.yellow1 ul.testimonials li.testimonial.item29 .body .inner {
  background: #f7a31c;
}

.yellow2 ul.testimonials li.testimonial .body .inner {
  background: #d16800;
}

.yellow2 ul.testimonials li.testimonial.item1 .body .inner,
.yellow2 ul.testimonials li.testimonial.item4 .body .inner,
.yellow2 ul.testimonials li.testimonial.item7 .body .inner,
.yellow2 ul.testimonials li.testimonial.item10 .body .inner,
.yellow2 ul.testimonials li.testimonial.item13 .body .inner,
.yellow2 ul.testimonials li.testimonial.item16 .body .inner,
.yellow2 ul.testimonials li.testimonial.item19 .body .inner,
.yellow2 ul.testimonials li.testimonial.item22 .body .inner,
.yellow2 ul.testimonials li.testimonial.item25 .body .inner,
.yellow2 ul.testimonials li.testimonial.item28 .body .inner {
  background: #f7a31c;
}

.yellow2 ul.testimonials li.testimonial.item2 .body .inner,
.yellow2 ul.testimonials li.testimonial.item5 .body .inner,
.yellow2 ul.testimonials li.testimonial.item8 .body .inner,
.yellow2 ul.testimonials li.testimonial.item11 .body .inner,
.yellow2 ul.testimonials li.testimonial.item14 .body .inner,
.yellow2 ul.testimonials li.testimonial.item17 .body .inner,
.yellow2 ul.testimonials li.testimonial.item20 .body .inner,
.yellow2 ul.testimonials li.testimonial.item23 .body .inner,
.yellow2 ul.testimonials li.testimonial.item26 .body .inner,
.yellow2 ul.testimonials li.testimonial.item29 .body .inner {
  background: #e08a1e;
}

.yellow3 ul.testimonials li.testimonial .body .inner {
  background: #f7a31c;
}

.yellow3 ul.testimonials li.testimonial.item1 .body .inner,
.yellow3 ul.testimonials li.testimonial.item4 .body .inner,
.yellow3 ul.testimonials li.testimonial.item7 .body .inner,
.yellow3 ul.testimonials li.testimonial.item10 .body .inner,
.yellow3 ul.testimonials li.testimonial.item13 .body .inner,
.yellow3 ul.testimonials li.testimonial.item16 .body .inner,
.yellow3 ul.testimonials li.testimonial.item19 .body .inner,
.yellow3 ul.testimonials li.testimonial.item22 .body .inner,
.yellow3 ul.testimonials li.testimonial.item25 .body .inner,
.yellow3 ul.testimonials li.testimonial.item28 .body .inner {
  background: #e08a1e;
}

.yellow3 ul.testimonials li.testimonial.item2 .body .inner,
.yellow3 ul.testimonials li.testimonial.item5 .body .inner,
.yellow3 ul.testimonials li.testimonial.item8 .body .inner,
.yellow3 ul.testimonials li.testimonial.item11 .body .inner,
.yellow3 ul.testimonials li.testimonial.item14 .body .inner,
.yellow3 ul.testimonials li.testimonial.item17 .body .inner,
.yellow3 ul.testimonials li.testimonial.item20 .body .inner,
.yellow3 ul.testimonials li.testimonial.item23 .body .inner,
.yellow3 ul.testimonials li.testimonial.item26 .body .inner,
.yellow3 ul.testimonials li.testimonial.item29 .body .inner {
  background: #d16800;
}



/** Triangles **/
.yellow1 ul.testimonials li.testimonial .triangle {
	border-color: #e08a1e transparent transparent transparent;
	_border-color: #e08a1e #000000 #000000 #000000;
}

.yellow1 ul.testimonials li.testimonial.item1 .triangle,
.yellow1 ul.testimonials li.testimonial.item4 .triangle,
.yellow1 ul.testimonials li.testimonial.item7 .triangle,
.yellow1 ul.testimonials li.testimonial.item10 .triangle,
.yellow1 ul.testimonials li.testimonial.item13 .triangle,
.yellow1 ul.testimonials li.testimonial.item16 .triangle,
.yellow1 ul.testimonials li.testimonial.item19 .triangle,
.yellow1 ul.testimonials li.testimonial.item22 .triangle,
.yellow1 ul.testimonials li.testimonial.item25 .triangle,
.yellow1 ul.testimonials li.testimonial.item28 .triangle {
	border-color: #d16800 transparent transparent transparent;
	_border-color: #d16800 #000000 #000000 #000000;
}

.yellow1 ul.testimonials li.testimonial.item2 .triangle,
.yellow1 ul.testimonials li.testimonial.item5 .triangle,
.yellow1 ul.testimonials li.testimonial.item8 .triangle,
.yellow1 ul.testimonials li.testimonial.item11 .triangle,
.yellow1 ul.testimonials li.testimonial.item14 .triangle,
.yellow1 ul.testimonials li.testimonial.item17 .triangle,
.yellow1 ul.testimonials li.testimonial.item20 .triangle,
.yellow1 ul.testimonials li.testimonial.item23 .triangle,
.yellow1 ul.testimonials li.testimonial.item26 .triangle,
.yellow1 ul.testimonials li.testimonial.item29 .triangle {
	border-color: #f7a31c transparent transparent transparent;
	_border-color: #f7a31c #000000 #000000 #000000;
}

.yellow2 ul.testimonials li.testimonial .triangle {
	border-color: #d16800 transparent transparent transparent;
	_border-color: #d16800 #000000 #000000 #000000;
}

.yellow2 ul.testimonials li.testimonial.item1 .triangle,
.yellow2 ul.testimonials li.testimonial.item4 .triangle,
.yellow2 ul.testimonials li.testimonial.item7 .triangle,
.yellow2 ul.testimonials li.testimonial.item10 .triangle,
.yellow2 ul.testimonials li.testimonial.item13 .triangle,
.yellow2 ul.testimonials li.testimonial.item16 .triangle,
.yellow2 ul.testimonials li.testimonial.item19 .triangle,
.yellow2 ul.testimonials li.testimonial.item22 .triangle,
.yellow2 ul.testimonials li.testimonial.item25 .triangle,
.yellow2 ul.testimonials li.testimonial.item28 .triangle {
	border-color: #f7a31c transparent transparent transparent;
	_border-color: #f7a31c #000000 #000000 #000000;
}

.yellow2 ul.testimonials li.testimonial.item2 .triangle,
.yellow2 ul.testimonials li.testimonial.item5 .triangle,
.yellow2 ul.testimonials li.testimonial.item8 .triangle,
.yellow2 ul.testimonials li.testimonial.item11 .triangle,
.yellow2 ul.testimonials li.testimonial.item14 .triangle,
.yellow2 ul.testimonials li.testimonial.item17 .triangle,
.yellow2 ul.testimonials li.testimonial.item20 .triangle,
.yellow2 ul.testimonials li.testimonial.item23 .triangle,
.yellow2 ul.testimonials li.testimonial.item26 .triangle,
.yellow2 ul.testimonials li.testimonial.item29 .triangle {
	border-color: #e08a1e transparent transparent transparent;
	_border-color: #e08a1e #000000 #000000 #000000;
}

.yellow3 ul.testimonials li.testimonial .triangle {
	border-color: #f7a31c transparent transparent transparent;
	_border-color: #f7a31c #000000 #000000 #000000;
}

.yellow3 ul.testimonials li.testimonial.item1 .triangle,
.yellow3 ul.testimonials li.testimonial.item4 .triangle,
.yellow3 ul.testimonials li.testimonial.item7 .triangle,
.yellow3 ul.testimonials li.testimonial.item10 .triangle,
.yellow3 ul.testimonials li.testimonial.item13 .triangle,
.yellow3 ul.testimonials li.testimonial.item16 .triangle,
.yellow3 ul.testimonials li.testimonial.item19 .triangle,
.yellow3 ul.testimonials li.testimonial.item22 .triangle,
.yellow3 ul.testimonials li.testimonial.item25 .triangle,
.yellow3 ul.testimonials li.testimonial.item28 .triangle {
	border-color: #e08a1e transparent transparent transparent;
	_border-color: #e08a1e #000000 #000000 #000000;
}

.yellow3 ul.testimonials li.testimonial.item2 .triangle,
.yellow3 ul.testimonials li.testimonial.item5 .triangle,
.yellow3 ul.testimonials li.testimonial.item8 .triangle,
.yellow3 ul.testimonials li.testimonial.item11 .triangle,
.yellow3 ul.testimonials li.testimonial.item14 .triangle,
.yellow3 ul.testimonials li.testimonial.item17 .triangle,
.yellow3 ul.testimonials li.testimonial.item20 .triangle,
.yellow3 ul.testimonials li.testimonial.item23 .triangle,
.yellow3 ul.testimonials li.testimonial.item26 .triangle,
.yellow3 ul.testimonials li.testimonial.item29 .triangle {
	border-color: #d16800 transparent transparent transparent;
	_border-color: #d16800 #000000 #000000 #000000;
}


/** Titles **/
.yellow1 .block-course-testimonials h2.block-title {
  color: #f7a31c;
}

.yellow2 .block-course-testimonials h2.block-title {
  color: #e08a1e;
}

.yellow3 .block-course-testimonials h2.block-title {
  color: #d16800;
}

/****************************************** 
 * 2. Course Subject page 
 ******************************************/

/* Header background */
.yellow1 .catalog-subject-header .text {
  background: #f7a31c;
}

.yellow2 .catalog-subject-header .text {
  background: #e08a1e;
}

.yellow3 .catalog-subject-header .text {
  background: #d16800;
}

/* Navigation links */
.yellow1 #block-hc-blocks-catalog-subject-navigation .item-list ul li p.title {
  color: #f7a31c;
}

.yellow1 #block-hc-blocks-catalog-subject-navigation .item-list ul li a:hover,
.yellow1 #block-hc-blocks-catalog-subject-navigation .item-list ul li.active a {
  background: #f7a31c;
  color: white;
}

.yellow2 #block-hc-blocks-catalog-subject-navigation .item-list ul li p.title {
  color: #e08a1e;
}

.yellow2 #block-hc-blocks-catalog-subject-navigation .item-list ul li a:hover,
.yellow2 #block-hc-blocks-catalog-subject-navigation .item-list ul li.active a {
  background: #e08a1e;
  color: white;
}

.yellow3 #block-hc-blocks-catalog-subject-navigation .item-list ul li p.title {
  color: #d16800;
}

.yellow3 #block-hc-blocks-catalog-subject-navigation .item-list ul li a:hover,
.yellow3 #block-hc-blocks-catalog-subject-navigation .item-list ul li.active a {
  background: #d16800;
  color: white;
}

/* Courses per subject */
.yellow1 .catalog-subject-roadmap h2.block-title {
  color: #f7a31c;
}

.yellow2 .catalog-subject-roadmap h2.block-title {
  color: #e08a1e;
}

.yellow3 .catalog-subject-roadmap h2.block-title {
  color: #d16800;
}


/****************************************** 
 * 3. Catalog Page
 ******************************************/

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color.yellow1 {
  background: #f7a31c;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color.yellow2 {
  background: #e08a1e;
}

.page-catalog #block-system-main ul.catalog-items li.catalog-item .color.yellow3 {
  background: #d16800;
}

/*******************************************
 * 4. Course detail page
 ******************************************/
.yellow1 .block-public-course-dates h2.block-title {
  color: #f7a31c;
}

.yellow2 .block-public-course-dates h2.block-title {
  color: #e08a1e;
}

.yellow3 .block-public-course-dates h2.block-title {
  color: #d16800;
}

/** Temporary book a course form **/
.yellow1 .ui-dialog {
  background: #f7a31c;
}

.yellow1 .ui-dialog #edit-actions .form-submit {
  background: #e08a1e;
}

.yellow2 .ui-dialog {
  background: #e08a1e;
}

.yellow2 .ui-dialog #edit-actions .form-submit {
  background: #d16800;
}

.yellow3 .ui-dialog {
  background: #d16800;
}

.yellow3 .ui-dialog #edit-actions .form-submit {
  background: #f7a31c;
}

.yellow1 #webform-client-form-67 #submit-button button {
  background: #e08a1e;
}

.yellow2 #webform-client-form-67 #submit-button button {
  background: #d16800;
}

.yellow3 #webform-client-form-67 #submit-button button {
  background: #f7a31c;
}

/* Header backgrounds */
.yellow1 .block-header-course .text { 
  background-color: #f7a31c;
}

.yellow1 .block-header-course .text .key-information ul li {
  background-color: #e08a1e;
}

.yellow2 .block-header-course .text { 
  background-color: #e08a1e;
}

.yellow2 .block-header-course .text .key-information ul li {
  background-color: #d16800;
}

.yellow3 .block-header-course .text { 
  background-color: #d16800;
}

.yellow3 .block-header-course .text .key-information ul li {
  background-color: #f7a31c;
}


/*******************************************
 * 5. Landing page detail page
 ******************************************/
.yellow1 .landing-page-header .text {
  background: #f7a31c;
}

.yellow1.node-type-landing-page .field-name-field-land-page-intro-title {
  color: #f7a31c;
}

.yellow1.node-type-landing-page .field-name-field-land-page-intro-desc .extra .large .original {
  color: #f7a31c;
}

.yellow2 .landing-page-header .text {
  background: #e08a1e;
}

.yellow2.node-type-landing-page .field-name-field-land-page-intro-title {
  color: #e08a1e;
}

.yellow2.node-type-landing-page .field-name-field-land-page-intro-desc .extra .large .original {
  color: #e08a1e;
}

.yellow3 .landing-page-header .text {
  background: #d16800;
}

.yellow3.node-type-landing-page .field-name-field-land-page-intro-title {
  color: #d16800;
}

.yellow3.node-type-landing-page .field-name-field-land-page-intro-desc .extra .large .original {
  color: #d16800;
}